#contenttable > tbody td.active,
#contenttable > tbody td.default,
#contenttable > tbody td.actions,
#contenttable > tbody td.addchild {
  text-align: center;
}

table > tbody > tr.sheetsgroup {
  background-color: #bbb;
}
table tr.sheetsgroup td {
  color: #00f;
}
