/*
 * Theme: Altbier - follows same licensing as CMS Made Simple and the open source assets in use.
 * Authors: The CMS Made Simple Dev Team, John Beatrice <johnnyb [AT] cmsmadesimple [DOT] org>
 * Version: 1.0
 * Release year 2018
 *
 * Built upon Theme: OneEleven 2012 (c) * Author: Goran Ilic (ja@ich-mach-das.at) - http://dev.cmsmadesimple.org/users/uniqu3 * Version: 1.0
 */

/* a bit of trickery for new FontAwesome 5.x JS SVG load */
/* disabled pending bugfix
html body {display:none;}
.fontawesome-i2svg-active body {display: block;}
*/

/* base */
html,
body {
    width: 100%;
    padding: 0;
    min-height: 100%;
    height: 100%;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body {
    color: #232323;
    line-height: 1.4;
    font-size: 0.9rem;
    background: #f6f6f6
}
 /* Right to Left */
html[dir='rtl'] body  {
    direction: rtl;
    unicode-bidi: embed;
}

/* DEPRECATED GRID SYSTEM
 * Fluid Grid based on Based on 960 Grid System - http://www.960.gs
 * Helper Styles for Module Developer, make aligning modules easier.
 * For Demo see /admin/themes/Altbier/doc/grid.html
 */
.c_full { width: 100% } .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 { display: inline; float: left; position: relative; margin-left: 1%; margin-right: 1% } .alpha { margin-left: 0 } .omega { margin-right: 0 } /* Grids up to 12 columns */ .c_full .grid_1 { width: 6.333% } .c_full .grid_2 { width: 14.667% } .c_full .grid_3 { width: 23.0% } .c_full .grid_4 { width: 31.333% } .c_full .grid_5 { width: 39.667% } .c_full .grid_6 { width: 48.0% } .c_full .grid_7 { width: 56.333% } .c_full .grid_8 { width: 64.667% } .c_full .grid_9 { width: 73.0% } .c_full .grid_10 { width: 81.333% } .c_full .grid_11 { width: 89.667% } .c_full .grid_12 { width: 98.0% } .c_full .prefix_1 { padding-left: 8.333% } .c_full .prefix_2 { padding-left: 16.667% } .c_full .prefix_3 { padding-left: 25.0% } .c_full .prefix_4 { padding-left: 33.333% } .c_full .prefix_5 { padding-left: 41.667% } .c_full .prefix_6 { padding-left: 50.0% } .c_full .prefix_7 { padding-left: 58.333% } .c_full .prefix_8 { padding-left: 66.667% } .c_full .prefix_9 { padding-left: 75.0% } .c_full .prefix_10 { padding-left: 83.333% } .c_full .prefix_11 { padding-left: 91.667% } .c_full .suffix_1 { padding-right: 8.333% } .c_full .suffix_2 { padding-right: 16.667% } .c_full .suffix_3 { padding-right: 25.0% } .c_full .suffix_4 { padding-right: 33.333% } .c_full .suffix_5 { padding-right: 41.667% } .c_full .suffix_6 { padding-right: 50.0% } .c_full .suffix_7 { padding-right: 58.333% } .c_full .suffix_8 { padding-right: 66.667% } .c_full .suffix_9 { padding-right: 75.0% } .c_full .suffix_10 { padding-right: 83.333% } .c_full .suffix_11 { padding-right: 91.667% } .c_full .push_1 { left: 8.333% } .c_full .push_2 { left: 16.667% } .c_full .push_3 { left: 25.0% } .c_full .push_4 { left: 33.333% } .c_full .push_5 { left: 41.667% } .c_full .push_6 { left: 50.0% } .c_full .push_7 { left: 58.333% } .c_full .push_8 { left: 66.667% } .c_full .push_9 { left: 75.0% } .c_full .push_10 { left: 83.333% } .c_full .push_11 { left: 91.667% } .c_full .pull_1 { left: -8.333% } .c_full .pull_2 { left: -16.667% } .c_full .pull_3 { left: -25.0% } .c_full .pull_4 { left: -33.333% } .c_full .pull_5 { left: -41.667% } .c_full .pull_6 { left: -50.0% } .c_full .pull_7 { left: -58.333% } .c_full .pull_8 { left: -66.667% } .c_full .pull_9 { left: -75.0% } .c_full .pull_10 { left: -83.333% } .c_full .pull_11 { left: -91.667% }
.row {
    position: relative;
}
.half {
    width: 50%;
    float: left;
}

/* CLEARFIX */
* html .cf { height: 1%; overflow: visible }
*+ html .cf { min-height: 1% }
.cf:after { clear: both; content: "."; display: block; height: 0; visibility: hidden }
.clear { clear: both; height: 0 }
.clearb { clear: both }


.img-fluid {
/*    max-width: 100%; */
    height: auto
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0
}
.w-15 {
    width: 15% !important
}
.w-85 {
    width: 85% !important
}

/* COMMON STUFF */

/*
 * Colors:
 * #f6f6f6 Body/Content Background
 * #232323 Dark background
 * #cecece Grey background
 * #ddd Grey background
 * #585858 Dark grey titles
 * #fa8004 Orange (links, title)
 * #147fdb Blue (links, titles)
 */

 ins {
    background-color: #ff9;
    color: #232323;
    text-decoration: none;
}
mark {
    font-style: italic;
    font-weight: bold;
}
del {
    text-decoration: line-through;
}
table {
    border-spacing: 0;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cecece;
    margin: 10px 0;
    padding: 0
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0
}

#ac_mainarea ul,
ol {
    margin: 10px 0 10px 25px
}

#ac_mainarea li {
    line-height: 1.5
}

#ac_mainarea ol li {
    list-style: decimal
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #585858
}

#ac_mainarea ul {
    list-style: square
}

h1, .h1 {
    font-size: 1.2rem
}

h2, .h2 {
    font-size: 1.1rem
}

h3, .h3 {
    font-size: 1rem
}

h4, .h4, p {
    font-size: 0.9rem
}

h5,h6{
    font-size: 0.8rem
}

p {
    margin: 2px 0
}

a,
span {
    outline: none
}

table,
td,
tr {
    text-align: left
}

a,
a:link,
a:visited {
    color: #147fdb;
    text-decoration: none;
    cursor: pointer
}
a:hover,
a:active {
    color: #fa8004;
    text-decoration: underline
}
a.external {
    background: url(../images/icons/system/external-small.png) no-repeat right;
    padding-right: 20px
}
.alert-dialog a {
    text-decoration: underline
}
.file::before {
    padding-left: 25px;
    font-family: "Font Awesome 5 Free";
    content: '\f03a';
}
.important, text-danger {
    color: red;
    font-weight: normal
}
.smallgrey {
    font-weight: normal;
    font-size: 0.7rem;
    margin: 10px 0 0 0
}

div.pagecontainer .h-inside {
    float: left;
    padding-top: 8px;
    padding-right: 10px;
    margin-left: 10%;
    width: 18rem;
    margin-bottom: 0.5em;
    text-align: right
}
/* these will be replaced by Bootstrap */
.visible {
    position: static
}
.invisible {
    position: absolute;
    left: -9999em;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden
}
.hidden {
    display: none !important;
}

/* Format code chunks */
pre,
code,
samp,
kbd {
    font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'Courier New', monospace;
    text-align: left;
    color: #232323;
    height: auto;
    font-size: 0.9rem
}
pre code {}
pre {
    padding: 5px 20px;
    border-left: 10px solid #cecece;
    background: #eee;
    margin: 5px;
    overflow: auto;
    display: inline-block;
    width: auto
}

/* Ace text editor container */
#Editor {
    line-height: 1.2;
    max-width: 99%;
    font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'Courier New', monospace;
}

/* border radius */
table.pagetable,
div.pagecontainer fieldset,
input,
textarea,
select,
menu,
.group_memberships,
.dashboard-box img,
.warning,
.error,
.information,
.message,
.success,
.pagewarning,.pageerror,.pagewarn,.pagesuccess,.pageinfo {
    border-radius: 4px
}


/* forms */

input,
textarea,
select,
menu {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    margin: 2px 5px 2px 0;
    padding: 4px 5px;
    border: 1px solid #aaa;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background: #f0f0f0
}

textarea {
    resize: both;
}

.resize-horizontal {
    resize: horizontal;
}

.resize-vertical {
    resize: vertical;
}

input {
    text-indent: 5px;
    margin-right: 5px
}

input[type='text']#in_title,
input[type='text']#in_menutext {
    min-width: 30%
}

input:hover,
input:focus,
textarea:hover,
textarea:focus,
select:hover,
select:focus,
menu:focus,
checkbox:hover {
    border: 1px solid #aaa;
    outline: 0;
    background: #fff
}

input:disabled, textarea:disabled, select:disabled {
    border-color: #e6e6e6;
    background: #f8f8f8;
}

input[type="text"],
input[type="password"] {
    padding: 5px
}

input[type="button"],
input[type="submit"],
.adminsubmit, .loginsubmit, .ui-button {
    border: 1px solid #d3d3d3;
    border-radius: 6px;
    padding: 5px 10px;
    background: #cecece url(../images/layout/ui-bg_highlight-soft_75_cecece_1x100.png) 50% 50% repeat-x;
    color: #555;
    cursor: pointer;
    font-weight: normal;
    font-size: 0.9rem
}

.loginsubmit {
    background: #838282;
    color: #fff;
}

.adminsubmit, .loginsubmit, .ui-button {
    margin: 4px 0
}

.ui-button-text {
    font-size: 0.9rem;
    margin-left: 2px;
/*    text-transform: uppercase */
}

.adminsubmit:active,
.adminsubmit:hover,
.ui-button:hover,
button.ui-button.ui-state-active {
    border: 1px solid #d3d3d3;
    background: #cecece url(../images/layout/ui-bg_highlight-soft_75_cecece_1x100.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #147fdb
}

.loginsubmit:active,
.loginsubmit:hover {
    border: 1px solid #e87602;
    background: #fa8106
}

.adminsubmit:disabled, .loginsubmit:disabled, .ui-button:disabled { 
    background: #f2f2f2
}

input[type="button"]:hover,
input[type="submit"]:hover {
    cursor: pointer
}

input[type="checkbox"] {
    background: #fff;
    border: none
}

textarea {
    min-width: 10em;
    min-height: 3em;
}

/* Notification messages */
.ui-tooltip {
    font-size: 0.9rem;
    box-shadow: 6px 6px 12px -6px rgba(120,120,120,1);}
    -webkit-box-shadow: 6px 6px 12px -6px rgba(120,120,120,1);
    -moz-box-shadow: 6px 6px 12px -6px rgba(120,120,120,1);
}
.tooltip {
    cursor: help
}
a.tooltip {
    cursor: pointer
}

.orange {
    color: #f7c95f
}

.yellow {
    color: #dada0b
}

.red,
.text-red,
a.text-red,
table.pagetable a.text-red {
    color: #ae432e
}

.blue {
    color: #058dc7
}

.green {
    color: #77ab13;
}

/* .message, */
.pagewarning,
/* .pagemcontainer, */
/* .pageerrorcontainer, */
.pageerrorinstalldir,
.warning,
.information {
    /*display: inline-block;
    width: auto;*/
    font-size: 0.9rem;
    padding: 10px;
    margin: 10px 0
}

.pagewarning.hidden {
    display: none
}

.dialog .green,
.dialog .red,
.dialog .yellow,
.dialog .orange {
    display: block
}

.warning,
.pagewarn,
.pagewarning {
    background-color: #f9f0d2;
    border: 1px solid #e6c26e;
    padding-left: 2.8em;
}
.warning::before,
.pagewarn::before,
.pagewarning::before {
    margin-left: -1.6em;
    margin-right: 0.3em;
    content: '\f071';
    color: #d4a711;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.5em;
    vertical-align: middle;
}

/*
.warning .svg-inline--fa, .warning-message .svg-inline--fa {
    color: #f8993a;
}
*/

.pageerrorcontainer {
    background-color: #f4d7d7;
    border: 1px solid #ae432e;
    color: #ae432e; /* TODO */
    padding-left: 2.8em;
}
.error,
.pageerrorinstalldir {
    background-color: #f4d7d7;
    border: 1px solid #ae432e;
    padding-left: 2.8em;
}
.error::before,
.pageerrorinstalldir::before {
    margin-left: -1.6em;
    margin-right: 0.3em;
    content: '\f05e';
    color: #ec1313;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.5em;
    vertical-align: middle;
}

.success {
    background-color: #d7f4d7;
    border: 1px solid #77ab13;
    padding-left: 2.8em;
}
.success::before {
    margin-left: -1.6em;
    margin-right: 0.3em;
    content: '\f058';
    color: #0da50d;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.5em;
    vertical-align: middle;
}

.pagemcontainer {
    background: #d7def4;
    border: 1px solid #058dc7;
    color: #278a81; /* TODO */
}

.info, .pageinfo, .information {
    background: #d7def4;
    border: 1px solid #058dc7;
}
.info, .pageinfo {
    padding-left: 2.8em;
}

.info::before, .pageinfo::before {
    margin-left: -1.6em;
    margin-right: 0.3em;
    content: '\f05a';
    color: #426ef0;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.5em;
    vertical-align: middle;
}

.message:hover {
    cursor: help
}

.warning p,
.pagewarn p,
.pagewarning p,
.message p,
.message li {
    color: #232323;
    font-size: 0.9rem
}

.warning h3,
.pagewarn h3,
.pagewarning h3 {
    margin: 2px 0;
    font-size: 0.9rem;
    color: #e6c26e
}

.block {
    display: block;
}
.pagemcontainer,
.pageerrorcontainer {
 /* position: fixed; */
    z-index: 9999;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 1px 1px 3px 1px #444;
    -webkit-box-shadow: 1px 1px 3px 1px #444;
    top: 0;
    left: 0
}
/* .pagemcontainer, */
/* .pageerrorcontainer,
aside.message,*/
.pageerrorinstalldir {
    position: fixed;
    z-index: 9999;
    border-top: none;
    width: 30%;
    font-size: 0.8rem;
    border-radius: 0 0 4px 4px;
    box-shadow: 1px 1px 3px 1px #444;
    -webkit-box-shadow: 1px 1px 3px 1px #444;
    top: 0;
    margin: 0;
    left: 35%
}

aside .no-slide,
.no-slide {
    position: inherit;
    left: auto;
    top: auto;
    border: 1px solid #ae432e;
    border-radius: 4px;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-image: none;
    width: auto;
    display: block;
    z-index: 0
}

.pageerrorcontainer ul {
    border: none;
    margin-left: 25px;
    background: none
}

.errorDialog {
    border: 1px solid red;
    color: red;
    height: 100%;
    line-height: 100%;
}

/* Notifications by jQuery toast plugin */

.jqtoast {
    display: block;
    position: fixed;
    border-width: 1px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin: 0;
    padding: 10px 3em;
    max-width: 40em;
    line-height: 1.2;
    letter-spacing: normal;
    font-size: 0.9em;
    pointer-events: all !important;
    z-index: 9000 !important;
}
.jqtoast.bottom-left {
    bottom: 20px;
    left: 2.5em
}
.jqtoast.bottom-right {
    bottom: 20px;
    right: 40px
}
.jqtoast.top-left {
    top: 70px;
    left: 2.5em
}
.jqtoast.top-right {
    top: 70px;
    right: 40px
}
.jqtoast.bottom-center {
    bottom: 20px
}
.jqtoast.top-center {
    top: 70px
}
.jqtoast * {
    margin: 0;
    padding: 0
}
.jqtoast ul {
    background: none;
    margin-left: 15px;
    padding: 0
}
.jqtoast ul li {
    list-style-type: disc !important;
    background: none;
    padding: 0;
    letter-spacing: normal;
}
.jqt-heading {
    margin-top: -1.6em; /*c.f. .jqt-close*/
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    text-align: center
}
.jqt-close {
    position: absolute;
    width: 1.6em;
    height: 1.6em;
    top: 10px;
    right: 10px;
    cursor: pointer
}
.jqt-close::before {
    content: '\f410';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.6em;
}
.jqt-loader {
    display: block;
    position: absolute;
    background: #f00;
    top: -2px;
    height: 5px;
    width: 0;
    left: 0;
    border-radius: 5px
}
.jqt-loaded {
    width: 100%;
}
/*
.jqt-has-icon::before {
    font-size: 1.5em;
    padding-right: 0.3em;
}
*/
.error.jqtoast {
    background-color: #f4d7d7;
}
.error .jqt-close::before {
    color: #c83737;
}
.error .jqt-heading {
    background-color: #c83737;
    color: #fff;
}
.jqt-icon-error::before {
    content: '\f05e';
    color: #ec1313;
}
.warn.jqtoast {
    background-color: #f9f0d2;
}
.warn .jqt-close::before {
    color: #caa11c;
}
.warn .jqt-heading {
    background-color: #caa11c;
    color: #fff;
}
.jqt-icon-warning::before {
    content: '\f071';
    color: #d4a711;
}
.success.jqtoast {
    background-color: #d7f4d7;
}
.success .jqt-close::before {
    color: #268c26;
}
.success .jqt-heading {
    background-color: #268c26;
    color: #fff;
}
.jqt-icon-success::before {
    content: '\f058';
    color: #0da50d;
}
.info.jqtoast {
    background-color: #d7def4;
}
.info .jqt-close::before {
    color: #5e7bd4;
}
.info .jqt-heading {
    background-color: #5e7bd4;
    color: #fff;
}
.jqt-icon-info::before {
    content: '\f05a';
    color: #426ef0;
}

#cms_busy,
.busy {
    position: fixed;
    z-index: 999;
    height: 50px;
    width: 50px;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent url(../images/spinner.gif) no-repeat;
    background-size: 50px 50px;
    cursor: wait;
}

/* close notification */

.close-warning {
    /* float: right; */
    /* display: inline-block; */
    width: 1em;
    height: 1em;
    /* text-indent: -9999em; */
    cursor: pointer;
    /* margin: 5px */
}
.close-warning::before {
    font-family: "Font Awesome 5 Free";
    content: '\f410';
    font-size: 1em;
    color: #333;
}

/* --- LAYOUT --- */

.colbox {
	display: flex;
	flex-direction: column
}
.rowbox {
	display: flex;
	flex-direction: row
}
.colbox.expand, .rowbox.expand {
	justify-content: space-between
}
.colbox.flow, .rowbox.flow {
	flex-wrap: wrap
}
.boxchild {
	flex: 0 1 auto
}
.boxchild.fill {
	flex: 1
}
.rowbox .boxchild {
	margin-right: 10px
}
.colbox .boxchild {
	margin-bottom: 10px
}

.resize-horizontal {
	resize: horizontal
}
.resize-vertical {
	resize: vertical
}
.oneliner > * {
	float: left;
	margin-right: 20px
}
.pagecontainer .pageinput.postgap, .postgap {
	margin-top: 5px;
	margin-bottom: 16px;
	overflow: auto
}
.pagecontainer .pageinput.pregap, .pregap {
	margin-top: 16px;
	margin-bottom: 5px;
	overflow: auto
}

/* full height */

#ac_container {
    position: relative;
    height: auto !important;
    /*height: 100%;*/
    margin-bottom: -75px;
    padding-bottom: 100px;
    min-height: 100%
}
#ac_admin-content {
    height: 100%
}


/*** header ***/
header.header {
/*    min-height: 100px;*/
    background: #f6f6f6;
    background: -webkit-linear-gradient( #f6f6f6, white);
    background: linear-gradient( #f6f6f6, white);
/*    border-top: 5px solid #ededed; */
}
header .header-top {
    padding: 5px 0;
}

header .cms-logo {
    max-width: 180px;
    margin-left: 10px
}
header .cms-logo img {
    max-width: 100%;
    width: 400px;
}
header .admin-title {
    line-height: 2;
    font-weight: bold;
    text-align: right;
    text-shadow: 1px 1px 0#fff
}

header .header-bottom {
/*
    line-height: 2;
    border-bottom: 1px solid #0f0f0f;
    position: relative;
*/
    padding: 2px 0;
    background: #232323;
}

header .welcome {
    color: #fff;
    font-size: 0.8rem;
}

header .welcome span {
    display: inline-block;
    vertical-align: middle;
}

header .welcome a {
    color: #fff
}

header a.welcome-user {
    display: inline-block;
    margin-right: 10px
}

/* shortcut icons */
header .shortcuts ul {
    text-align: right
}
header .shortcuts li {
    display: inline-block;
}
header .shortcuts li a {
    padding: 0 8px;
    display: block;
    font-size: 1.2em;
    cursor: pointer;
    color: #fa8004;
}
header .shortcuts li a:hover {
    color: #147fdb
}
header .shortcuts li.notifications {
    position: relative;
}
header .shortcuts li.notifications span.bubble {
    position: absolute;
    top: -0.1em;
    right: 0.7em;
    color: #cc0000;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}
header .shortcuts li.notifications i {
    font-size: 1.2em;
    color: #fff
}

/*** sidebar ***/
#ac_sidebar {
    overflow:hidden;
    min-width: 14em !important;
    border-right: 1px solid #fff;
    background: #ddd;
    height: 100%;
}
.sidebar-off #ac_sidebar {
    min-width: 40px !important;
    border: 0;
}

/* toggle sidebar */
#ac_sidebar .toggle-button {
    z-index: 99;
    display: block;
    cursor: pointer;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0;
    top: 4px;
}
#ac_sidebar .toggle-button.top {
    top: -33px
}
#ac_sidebar .toggle-button::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
/*    display: none; */
}
.sidebar-on #ac_sidebar .toggle-button::after {
    content: "\f100";
}
.sidebar-off #ac_sidebar .toggle-button::after {
    content: "\f101";
}
#ac_sidebar aside {
    padding-bottom: 30px;
    position: relative;
    height: 100%;
}

#ac_sidebar nav.navigation {
    height: 100%;
    position: relative;
    top: 30px;
}

/* main navigation */
#ac_pagemenu {
    border-bottom: 1px solid #adadad;
}

#ac_pagemenu li {
/*    position: relative;
    zoom: 1;
    line-height: 2.5rem;
    padding: 0; */
    border-bottom: 1px solid #eee;
}

.sidebar-off #ac_sidebar nav.navigation li {
    text-align: center;
}

.sidebar-off #ac_sidebar nav.navigation li .link-name {
    display: none;
}

/*** menu style ***/

/* toggle submenu */
#ac_pagemenu li {
    cursor: pointer;
}

#ac_pagemenu li span.open-nav, #ac_pagemenu li a.no-nav {
    max-width: 9.4rem;
/*    height: 35px; */
    z-index: 50;
/*
    position: absolute;
    right: 3px;
*/
    top: 0;
    line-height: 2.2rem;
}

/* !!! FontAwesome 5.x (free version) Icons */
#ac_pagemenu li a::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-size: 1.2em;
    margin-left: .2em;
    margin-right: .3em;
    content: '  '; /* default "\f22d" */
/*    display: none; / * hide code replaced by svg */
}

#ac_pagemenu li a.no-nav::before {
    font-family: inherit;
    content: '';
    margin: 0
}
/* for alternate fontawesome mechanism
#ac_pagemenu li.current .svg-inline--fa,
#ac_pagemenu li:hover .svg-inline--fa,
#ac_pagemenu li:focus .svg-inline--fa,
#ac_pagemenu li:active .svg-inline--fa
{
    display: inline-block;
    z-index: 9999;
}
*/
#ac_pagemenu li a {
    color: #232323;
    outline: 0;
/*    padding: 0 0 0 6px; */
    height: 40px;
    font-weight: 600;
/*    display: block; */
    text-shadow: 0 1px 0 #efeeee;
    text-decoration: none;
    border: 1px solid transparent;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 18rem;
}
/*
#ac_pagemenu li a i {
    width: 2em;
}
*/
.sidebar-off #ac_pagemenu li a {
    padding: 0;
    margin: 0 auto;
}
#ac_pagemenu li.current li a {
    color: #232323
}

#ac_pagemenu li ul,
.sidebar-off #ac_pagemenu li span.open-nav,
.sidebar-off #ac_pagemenu li a.no-nav {
    display: none
}

.sidebar-on #ac_pagemenu li.current ul {
    display: block
}

.sidebar-on #ac_pagemenu li {
    zoom: 1
}

#ac_pagemenu li.current a,
#ac_pagemenu li a:hover,
#ac_pagemenu li:hover a,
#ac_pagemenu li a:active,
#ac_pagemenu li a:focus,
#ac_pagemenu li.current li a:hover,
#ac_pagemenu li.current li a:active,
#ac_pagemenu li.current li a:focus,
#ac_pagemenu li.current li a,
#ac_pagemenu li li a:hover {
    color: #147fdb;
}
#ac_pagemenu li.current a,
#ac_pagemenu li.current li.current a {
    text-shadow: 0 1px 0 #f9c18f;
    color: #dd6d0a;
}

#ac_pagemenu li a:focus {
    border: 1px dotted #6f8596;
}

/* !!! FontAwesome 5.x (free version) Icons */
nav h3 a::before {
    font-family:"Font Awesome 5 Free";
    font-size: 1.2em;  /* sized by js */
    font-weight: 900;
    margin-right: 0.2em;
/*    display: none; / * hide the code replaced by svg */
}

nav h3.dashboard-icon a::before { content: ' ' } /* "\f22d" default icon if no icon is set below*/

nav h3.AdminLog1 a::before, #ac_pagemenu li a.AdminLog1::before { content: '\f518' }
nav h3.AdminSearch1 a::before, #ac_pagemenu li a.AdminSearch1::before { content: '\f1c0' }
nav h3.checksum a::before, #ac_pagemenu li a.checksum::before { content: '\f5b7' }
nav h3.CMSContentManager1 a::before, #ac_pagemenu li a.CMSContentManager1::before { content: '\f044' }
nav h3.CMSContentManager2 a::before, #ac_pagemenu li a.CMSContentManager2::before { content: '\f61f' }
nav h3.CmsJobManager1 a::before, #ac_pagemenu li a.CmsJobManager1::before { content: '\f013' }
nav h3.CoreTextEditing1 a::before, #ac_pagemenu li a.CoreTextEditing1::before { content: '\f121' }
nav h3.content a::before, #ac_pagemenu li a.content::before { content: '\f0db' }
nav h3.DesignManager1 a::before, #ac_pagemenu li a.DesignManager1::before { content: '\f1fc' }
/*nav h3.DesignManager2 a::before, #ac_pagemenu li a.DesignManager2::before { content: '\f5ae' }
nav h3.DesignManager3 a::before, #ac_pagemenu li a.DesignManager3::before { content: '\f1fc' }
nav h3.DesignManager4 a::before, #ac_pagemenu li a.DesignManager4::before { content: '\f575' } */
nav h3.ecommerce a::before, #ac_pagemenu li a.ecommerce::before { content: '\f07a' }
nav h3.eventhandlers a::before, #ac_pagemenu li a.eventhandlers::before { content: '\f0ae' }
nav h3.extensions a::before, #ac_pagemenu li a.extensions::before { content: '\f12e' }
nav h3.FileManager1 a::before, #ac_pagemenu li a.FileManager1::before { content: '\f0a0' }
nav h3.FileManager2 a::before, #ac_pagemenu li a.FileManager2::before { content: '\f61f' }
nav h3.FilePicker1 a::before, #ac_pagemenu li a.FilePicker1::before { content: '\f233' }
nav h3.files a::before, #ac_pagemenu li a.files::before { content: '\f0c5' }
nav h3.groupmembers a::before, #ac_pagemenu li a.groupmembers::before { content: '\f500' }
nav h3.groupperms a::before, #ac_pagemenu li a.groupperms::before { content: '\f09c' }
nav h3.layout a::before, #ac_pagemenu li a.layout::before { content: '\f00a' }
nav h3.listgroups a::before, #ac_pagemenu li a.listgroups::before { content: '\f509' }
nav h3.listusers a::before, #ac_pagemenu li a.listusers::before { content: '\f4fe' }
nav h3.logout a::before, #ac_pagemenu li a.logout::before { content: '\f2f5' }
nav h3.main a::before, #ac_pagemenu li a.main::before { content: '\f015' }
nav h3.MicroTiny1 a::before, #ac_pagemenu li a.MicroTiny1::before { content: '\f14b' }
nav h3.ModuleManager1 a::before, #ac_pagemenu li a.ModuleManager1::before { content: '\f1b3' }
nav h3.myaccount a::before, #ac_pagemenu li a.myaccount::before { content: '\f4ff' }
nav h3.mybookmarks a::before, #ac_pagemenu li a.mybookmarks::before { content: '\f02e' }
nav h3.myprefs a::before, #ac_pagemenu li a.myprefs::before { content: '\f007' }
nav h3.mysettings a::before, #ac_pagemenu li a.mysettings::before { content: '\f61f' }
nav h3.News1 a::before, #ac_pagemenu li a.News1::before { content: '\f1ea' }
nav h3.News2 a::before, #ac_pagemenu li a.News2::before { content: '\f61f' }
nav h3.Search1 a::before, #ac_pagemenu li a.Search1::before { content: '\f689' }
nav h3.services a::before, #ac_pagemenu li a.services::before { content: '\f085' }
nav h3.site a::before, #ac_pagemenu li a.site::before { content: '\f108' }
nav h3.siteadmin a::before, #ac_pagemenu li a.siteadmin::before { content: '\f0ad' }
nav h3.siteprefs a::before, #ac_pagemenu li a.siteprefs::before { content: '\f61f' }
nav h3.systeminfo a::before, #ac_pagemenu li a.systeminfo::before { content: '\f05a' }
nav h3.systemmaintenance a::before, #ac_pagemenu li a.systemmaintenance::before { content: '\f487' }
nav h3.tags a::before, #ac_pagemenu li a.tags::before { content: '\f02c' }
nav h3.usersgroups a::before, #ac_pagemenu li a.usersgroups::before { content: '\f0c0' }
nav h3.usertags a::before, #ac_pagemenu li a.usertags::before { content: '\f4c4' }
/* for alternate fontawesome mechanism
#ac_pagemenu li a .svg-inline--fa {
    margin-right: 0.5em;
    text-align:center;
    width: 1rem;
    display:inline-block;
}
.sidebar-off #ac_pagemenu li a .svg-inline--fa {
    margin: 0;
}

nav h3 a .svg-inline--fa {
    margin-right: 0.5em;
    text-align:center;
/ *    width: 1rem; * /
    display:inline-block;
    font-size: 1.5rem;
}
*/

/* second level & collapsed sidebar */
#ac_pagemenu ul {
    padding: 8px 0;
    background: #f0f0f0
}
#ac_pagemenu ul ul {
    padding-left: 16px
}

#ac_pagemenu li li {
/*    background: none; */
    line-height: 1.4;
/*    font-size: 0.9rem; */
}

#ac_pagemenu li li a {
    height: auto;
/*    line-height: 1.3; */
    word-break: break-word;
    word-wrap: hyphenate;
/*    padding: 5px 5px 5px 30px; */
    padding-left: 10px;
    font-weight: normal;
}
#ac_pagemenu li.current li a,
#ac_pagemenu li li a,
#ac_pagemenu li:hover li a {
    color: #232323;
}
#ac_pagemenu li li a:hover,
#ac_pagemenu li li.current a {
    color: #147fdb;
}

/*** footer ***/
footer#ac_footer {
    z-index: 50;
    background: #121214;
    clear: both;
    position: fixed;
    bottom: 0;
/*    height: 55px; */
    font-size: 0.8rem;
}

footer#ac_footer a {
    text-decoration: none;
    color: #a7a7a7;
}

#ac_footer .py-2 {
    padding-left: 5px;
    padding-right: 5px;
}

#ac_footer small {
    font-size: 0.7rem;
    color: #a7a7a7
}

footer#ac_footer a:hover,
footer#ac_footer a:active {
    color: #147fdb
}

#ac_footer ul.links li {
    display: inline-block;
}
#ac_footer ul.links li a {
    padding: 0 4px;
}

/*** page content ***/

#ac_mainarea .content-inner {
    padding: 0 10px;
    position: relative;
}

#ac_mainarea header.pageheader {
    margin-bottom: 15px;
}

#ac_mainarea header.pageheader h1 {
    font-size: 1.2rem;
    line-height: 2;
    font-weight: 600;
    width: 100%;
    margin: 0;
    padding: 10px 0 0;
    color: #676767;
    border-bottom: 1px solid #676767;
}

#ac_mainarea header.pageheader .module-icon {
    vertical-align: middle;
    margin-right: 15px;
    max-height: 2em
}

#ac_mainarea header.pageheader span.helptext,
.pageheader span.helptext {
    line-height: 2;
    float: right;
    width: auto;
    color: #232323;
    font-size: 0.8rem
}

#ac_mainarea header.pageheader.drop-hidden span.helptext {
    margin-right: 0
}

#ac_mainarea header.subheader h3 {
    color: #147fdb
}

span.helptext a {
display: block;
}

/* font icons used for images */
i.fontimage {
    vertical-align: middle;
    font-size: 1.3em;
}

.pageheader {
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: #147fdb
}
.pageheader img {
    max-height: 2rem;
    max-width: 2rem;
}

div.pageoverflow {
    clear: left;
    padding-top: 1px;
    width: auto;
    overflow: hidden
}

div.pageoverflow img {
    border: 0
}

div.pageoptions,
p.pageoptions {
    padding: 2px 0
}

div.pageoptions a,
p.pageoptions a,
a.pageoptions {
    padding: 2px 10px;
    color: #585858;
    display: inline;
    cursor: pointer
}

.systemicon {
    border: none;
    vertical-align: top
}
svg.systemicon {
    max-height: 1.2rem;
    max-width: 1.2rem
}

#copy_paste_in_forum {
    width: 80%;
    margin: 0 10%
}

.pagerows a {
    display: inline-block;
    background: #eee;
    padding: 2px 4px;
    margin: 2px 1px;
    color: #585858;
    border: 1px solid #ccc
}

.pagerows strong {
    background: #147fdb;
    padding: 2px 4px;
    margin: 0 1px;
    color: #fff;
    border: 1px solid #147fdb
}


/*** dialogs ***/

div.alert-dialog ul li {
    margin: 10px 0
}

div.alert-dialog .alert-icon {
    float: left;
    cursor: pointer;
    margin-right: 4px;
}

div.alert-dialog .alert-remove {
    float: right;
    cursor: pointer;
    margin-left: 4px;
}

div.alert-dialog span.ui-icon {}

div.dialog h3 {
    margin: 5px 0;
    color: #147fdb;
    font-size: 0.9rem
}

div.dialog a.bookmark {
    padding-left: 20px;
    line-height: 1.2rem;
}
div.dialog a.bookmark::before {
/*    background: url(../images/icons/extra/bookmark.gif) no-repeat right */
    font-family: "Font Awesome 5 Free";
    content: '\f02e';
}

div.dialog form#chdir_form {
    display: block
}

div.dialog form#chdir_form select {
    width: 12.5rem
}


/*** tables ***/

table th:first-child {
    border-top-left-radius: 4px
}

table th:last-child {
    border-top-right-radius: 4px
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 4px
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 4px
}

table.pagetable {
    border-collapse: inherit;
    font-size: 0.9rem;
    border: 1px solid #ddd;
    width: 100%;
    margin: 5px 0
}

table.pagetable caption {
    color: #585858;
    text-align: left;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 5px 0
}

table.pagetable th,
table.pagetable thead tr {
    color: #fa8004;
    text-shadow: -1px -1px 0 #000;
    background: #232323 url(../images/layout/sprite_repeatx.png) 831px -99px repeat-x;
    height: 45px;
    text-align: left;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px
}

table.pagetable th a {
    color: #fa8004
}

table.pagetable th.active {
    color: #147fdb
}

table.pagetable th input:focus {
    outline: 2px solid #fa8004;
}

table.pagetable th.active a,
table.pagetable th a:hover {
    color: #147fdb;
    text-decoration: underline
}

table.pagetable tr {
    height: 36px
}

table.pagetable td {
    color: #585858;
    padding-left: 5px;
    padding-right: 5px
}

table.pagetable a {
    color: #232323
}

table.pagetable td a:focus {
    color: #147fdb;
}

table.pagetable th.pagepos {
    text-align: center
}

table.pagetable th.SortAble, table.pagetable th.SortUp, table.pagetable th.SortDown {
    cursor: pointer;
}

table.pagetable th.SortAble::before {
    content: '\f0dc';
    font-family: "Font Awesome 5 Free";
    margin-right: 0.2em;
    vertical-align: middle;
}

table.pagetable th.SortUp::before {
    content: '\f0de';
    font-family: "Font Awesome 5 Free";
    margin-right: 0.2em;
    vertical-align: middle;
}

table.pagetable th.SortDown::before {
    content: '\f0dd';
    font-family: "Font Awesome 5 Free";
    margin-right: 0.2em;
    vertical-align: middle;
}

table.pagetable td.row1s {
    background-color:#d9d9d9;
}

table.pagetable td.row2s {
    background-color:#e9e9e9;
}

.move {
    width: 60px;
    text-align: left;
    padding-left: 5px
}

.checkbox {
    padding-left: 10px
}

table.pagetable th.pageicon {
    min-width: 16px;
/*    width: 1%; */
    border: none
}

th.pagew10 {
    width: 10%
}

th.pagew25 {
    width: 25%
}

th.pagew50 {
    width: 50%
}

th.pagew60 {
    width: 60%
}

th.pagew70 {
    width: 70%
}

td.pagew30 {
    width: 30%
}

td.pagepos {
    text-align: center
}

tr.row1 {
    background: #f2f2f2
}

tr.row2 {
    background: #fafafa
}

tr.row1:hover,
tr.row2:hover,
tr.row1hover,
tr.row2hover {
    background: #ddd
}

td.pageicon {
    background: #f2f2f2 !important
}

td.icons_wide {
    width: 25px
}

/*** actions sub-menus ***/

.ContextMenu {
    display: none;
    border: 1px solid #ddd;
    border-radius: 8px;
    position: fixed;
    padding: 9px 6px;
    max-width: 250px;
/* min-width: 200px;   */
    max-height: 400px;
    background-color: #f9f9f9;
    font-size: 14px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ContextMenu > label {
    height: 25px;
    width: 100%;
    margin: 0;
    text-align: left;
    color: #337ab7;
    margin-bottom: 10px;
}
#menus1 .ContextMenu > ul, #menus2 .ContextMenu > ul {
    margin: 0;
}

#ac_mainarea .ContextMenu > ul {
    max-width: 250px;
    max-height: 360px;
    overflow: auto;
    margin-left: 6px;
}
.ContextMenu.active {
    display: block;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}
#ac_mainarea .ContextMenu ul {
    list-style-type:none;
}
#ac_mainarea .ContextMenu ul ul {
    padding: 0;
    margin: 0;
}
#ac_mainarea .ContextMenu > ul > ul {
    margin-bottom: 1px;
}
#ac_mainarea .ContextMenu > ul > ul > li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}
#ac_mainarea .ContextMenu li {
    margin-bottom: 10px;
/* min-width: 100px; */
}
#ac_mainarea .ContextMenu li:last-child {
    margin-bottom: 0px;
}
#ac_mainarea .ContextMenu li:hover > span {
    color: #e88d00;
}
.ContextMenu li:hover {
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.ContextMenu label span.glyphicon {
    margin-right: 5px;
    padding-right: 5px;
    font-size: 18px;
}
.ContextMenu li span.glyphicon {
    margin-right: 5px;
    padding-right: 5px;
    font-size: 18px;
    border-right: 1px solid #ddd;
}
.ContextMenu ul li ul.sub-level {
    display: none;
    margin-top: 10px;
}
.ContextMenu ul li ul.sub-level.active {
    display: block;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px 5px;
}
.ContextMenu ul > li > ul.sub-level.active {
    background-color: #fcf8e3;
}
.ContextMenu ul > li > ul.sub-level.active > ul li ul.sub-level.active {
    background-color: #fff;
    font-style: italic;
    font-size: 12px;
}

/*** Design manager ***/

.pointer {
    cursor: pointer;
}

#ac_mainarea ul.sortable-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 20rem;
    overflow: auto;
    min-height: 1.5rem;
}

#ac_mainarea .sortable-list li {
    list-style: none;
    padding: 4px 12px;
    margin-bottom: 1px;
    display: block;
    position: relative;
    cursor: move;
}

#ac_mainarea .sortable-list li .sortable-remove {
    float: right;
    display: inline-block;
}

#ac_mainarea .available-templates li .sortable-remove,
#ac_mainarea .available-stylesheets li .sortable-remove {
    display: none;
}

#ac_mainarea .sortable-list > li.ui-state-highlight {
    padding: 14px 0;
}

#ac_mainarea .sortable-table {
    cursor: move;
}


/*** File Manager ***/

#filesarea img {
    max-width: 32px
}


/*** iframe ***/

iframe {
    width: 99%;
    height: 99%
}

iframe.imageframe {
    margin-top: 10px;
    border: none;
    width: 100%
}

iframe.preview {
    background-color: #fff;
    margin: 10px 0;
    border: solid 1px #ddd;
    width: 95%;
    height: 400px
}


/*** content text and forms ***/


/* TODO pageback class now redundant? */

.pageback {
    clear: both;
    text-align: left
}

a.pageback {
    display: inline-block;
    position: relative;
    margin: 10px 0;
    line-height: 1.6rem;
    color: #232323;
    text-decoration: none;
    padding: 0 8px 0 20px
}

a.pageback .ui-icon {
    position: absolute;
    left: 0;
    top: 6px
}

a.pageback:hover {
    color: #fff
}

div.pagecontainer .pagetext {
    color: #585858;
    margin: 10px 0 5px 0;
    padding: 0;
    width: auto;
    font-weight: bold
}

div.pagecontainer .pageshowrows {
    color: #585858;
    font-size: 0.9rem;
    text-align: right;
    margin-bottom: 5px
}

div.pagecontainer span.helptext {
    display: inline-block
}


/*** content forms ***/

div.pagecontainer .pageinput {
    padding: 0;
    margin: 0;
    width: auto;
    text-align: left
}

.pageinput img {
    line-height: 28px;
    vertical-align: middle
}

div.pagecontainer fieldset {
    margin: 10px 0;
    border: 1px solid #ddd;
    padding: 5px;
}

div.pagecontainer legend {
    margin: 0;
    padding: 0 5px;
    width: inherit;
    color: #585858;
    font-weight: bold;
    font-size: 1rem
}

.pageinput input,
.pageinput textarea,
.pageinput select,
.pageinput menu {
    margin-bottom: 4px
}

.group {
    padding-right: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
}

.group_memberships {
    margin: 0;
    height: 1%;
    /*IE*/
    padding: 5px 10px;
    background: #fefefe;
    border: 1px solid #ddd;
}

div.pagecontainer p.pageinput,
div.pagecontainer .pageinput label {
    font-size: 0.9rem
}

p.pageinputwysiwyg {
    padding-top: 5px
}

p.pagemessage {
    margin-bottom: 0;
    padding: 5px;
    font-weight: bold
}

input.pagecheckbox {
    border: none
}


/*
textarea.pagebigtextarea {
    height: 40em;
    width: 90%
}
*/

.pageinput textarea {
    width: 90%;
    font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'Courier New', monospace;
    font-size: 0.85rem;
    line-height: 1.6
}

textarea.pagesmalltextarea {
    height: 15em;
    width: 90%
}

textarea.pageextrasmalltextarea {
    height: 8em;
    width: 90%
}


/*** tabs ***/

#page_tabs {
    overflow: hidden;
    margin-top: 20px
}

#page_tabs div {
    color: #585858;
    border-radius: 4px 4px 0 0;
    text-shadow: -1px 1px 0 #fff;
    background: #ddd;
    font-weight: bold;
    text-align: center;
    float: left;
    cursor: pointer;
    white-space: nowrap;
    padding: 11px;
    margin-top: 1px;
    margin-right: 1px
}

#page_tabs div img {
    height: 14px;
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 5px
}

#page_tabs div:hover {
    color: #147fdb
}

#page_tabs div:focus {
    color: #147fdb
}

#page_tabs div.active {
    color: #fff;
    text-shadow: -1px -1px 0 #054882;
    background: #147fdb url(../images/layout/tab-active.png) no-repeat center bottom
}

#page_content {
    background: #fff;
    border-radius: 0 0 4px 4px;
    padding: 20px 10px;
    border: 1px solid #ddd;
    border-top: 3px solid #ddd
}


/*** topcontent - dashboard ***/

#topcontent_wrap {
    display: flex;
    flex-wrap: wrap;
}

.dashboard-box {
    min-height: 6rem;
    margin: 10px;
    width: 480px;
    border-radius: 4px;
    background: #d5d5d5 url(../images/layout/sprite_repeatx.png) 214px -339px repeat-x;
    border: 1px solid #ddd
}

.dashboard-box nav {
    padding: 10px
}

.dashboard-box img {
    max-height: 48px;
    padding: 20px;
    box-shadow: inset 0 1px 15px 1px #ddd;
    -webkit-box-shadow: inset 0 1px 15px 1px #ddd;
    margin-right: 10px;
    float: left;
    border: 1px solid #ddd;
    background: #fff
}

.dashboard-box:hover img {
    box-shadow: inset 0 1px 15px 1px #ffd8b0;
    -webkit-box-shadow: inset 0 1px 15px 1px #ffd8b0;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out
}

.dashboard-box h3 {
    text-shadow: 0 1px 0 #fff;
    margin: 0 0 5px 0
}

.dashboard-box h3 a:focus {
    border: 1px solid #147fdb;
}

.dashboard-box span.description {
    color: #585858;
    font-style: italic
}

.dashboard-box h4 {
    margin: 5px 0;
    font-size: 0.85rem;
    color: #232323
}

#ac_mainarea .dashboard-box ul.subitems {
    margin: 0;
    padding: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.dashboard-box ul.subitems li {
    list-style: none;
    margin:4px;
}

.dashboard-box ul.subitems li a {
    font-size: 0.85rem;
    padding: 4px 0;
    text-decoration: underline
}

h3.dashboard-icon::before {}


/*** reorder pages ***/

.reorder-pages {
    margin: 20px 0
}

ul.sortableList,
.reorder-pages ul {
    list-style-type: none;
    width: 450px;
    margin: 0;
    padding: 0
}

ul.sortableList li {
    list-style-type: none;
    display: block;
    margin: 10px 0
}

ul.sortableList div.label {
    border: solid 1px #ddd;
    word-wrap: break-word;
    border-radius: 4px;
    cursor: move;
    padding: 3px 10px 3px 35px;
    text-shadow: 0 1px 0 #fff;
    font-weight: bold;
    color: #585858
}
ul.sortableList div.label::before {
/*  background: #eee url(../images/icons/extra/reorder.gif) no-repeat 10px 50%; */
    font-family: "Font Awesome 5 Free";
    content: '\f338';
}

ul.sortableList li div.label em {
    display: block;
    text-indent: 10px;
    font-weight: normal;
    color: #147fdb;
    font-size: 0.8rem
}

ul.sortable .placeholder {
    border: 2px dashed #ddd;
    background: #f2f2f2
}


/* Changelog, System Maintenance page */
.version {
    background: #f1f1f1;
    border: 1px solid #ddd;
    margin: 15px 0;
    padding: 20px;
    font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'Courier New', monospace;
    line-height: 1.5
}

.version h3 {
    text-transform: uppercase;
    color: #147fdb;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


/*** theme dropzone ***/

/*.drop {
    position: absolute;
    width: 262px;
    padding-top: 1px;
    padding-bottom: 14px;
    right: 0;
    top: 0
}

.drop-inner + a.toggle-dropzone {
    background: transparent url(../images/layout/toggle-dropzone.png) no-repeat -15px 0;
    border: 1px solid #ccc;
    border-top: none;
    text-indent: -9999em;
    width: 15px;
    height: 14px;
    position: absolute;
    bottom: 0;
    right: 0
}

a.toggle-dropzone:active,
a.toggle-dropzone:focus {
    outline: none
}

.drop-inner.hidden + a.toggle-dropzone {
    background: transparent url(../images/layout/toggle-dropzone.png) no-repeat 0 0;
}

.drop .drop-inner {
    float: none;
    border: 1px solid #ccc;
    border-top: none;
    background: #ddd;
    font-size: 0.7rem;
    color: #585858;
    text-shadow: 1px 1px 0 #fff;
    padding: 5px 10px;
    width: 240px
}

.drop div.zone {
    display: block;
    float: left;
    width: 210px;
    border: 1px dashed #ccc;
    text-align: center
}

.drop div.zone:hover,
.drop div.zone:focus {
    border: 1px dashed #77ab13
}

.drop #theme_dropzone {
    width: 200px;
    overflow: visible;
    line-height: 30px;
    text-align: center;
    height: 30px;
    background: #ddd
}

.drop span.folder-selection {
    display: inline-block;
    float: left;
    margin-right: 10px;
    width: 16px;
    cursor: pointer;
    height: 30px;
    text-align: left;
    background: transparent url(../images/layout/folder-horizontal-open.png) no-repeat left
}

.drop.hidden .drop-inner {
    display: none
}

.drop #theme_dropzone .ui-progressbar-value {
    margin: 10px 5px 5px 0;
    max-width: 190px;
    text-shadow: none;
    height: 12px;
    line-height: 12px;
    font-weight: normal;
    font-size: 0.8rem;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 4px;
    display: none
}*/


/* --- LOGIN PAGE --- */

#login #wrapper {
    padding-top: 10%
}
#login div.login-box {
    max-width: 23rem;
    background: #e6e6e6;
    position: relative;
    border: 1px solid #cacaca;
    -webkit-box-shadow:rgba(153, 153, 153, 0.4) 0 0 6px;
    box-shadow: rgba(153, 153, 153, 0.4) 0 0 6px;
}
#login .info-wrapper .warning-message {
    border: 1px solid #e6c26e;
    border-radius: 5px;
    background: #f9f0d2;
}

#login fieldset {
    max-width: 30em;
    margin: 0 auto;
}
#login h1 {
    color: #585858;
    font-size: 1rem;
    text-shadow: 0 1px 0 #fff;
}
#login a {
    color: #757474;
    font-size: 1.2rem
}
#login .alt-actions, #login .alt-actions a {
    color: #757474;
    font-size: 0.85rem
}

/*
#login .toggle-info {
font-size: 0.9rem;
}
*/
#login aside.info {
    display: none
}

#login input[type="text"],
#login input[type="password"] {
    margin: 5px 0;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    width: 100%
}
#login input[type="text"]:focus,
#login input[type="password"]:focus {
    margin: 5px 0;
    border: 1px solid #147fdb;
    box-shadow: 0 0 5px #147fdb;
    -webkit-box-shadow: 0 0 5px #147fdb;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out
}
#login input.loginsubmit {
    border: 1px solid #838282;
    color: #fff;
    text-indent: 0;
    height: 30px;
    padding: 0 14px;
    margin: 0;
/*    font-size: 0.9rem; */
    background: #838282
}
#login input.loginsubmit:hover,
#login input.loginsubmit:focus {
    border: 1px solid #e87602;
    background: #fa8106
}
#login div.info-wrapper {
    display: none;
}
#login div.info-wrapper.open {
    z-index: 999;
    left: 0;
    position: absolute;
    top: 55px;
    background: #ececec;
    display: inline-block;
    box-shadow: 2px 2px 10px 0px rgba(51, 51, 51, 0.62);
}
#login aside.info {
/*    font-size: 0.9rem; */
    color: #585858;
    background: #ececec;
}
#login aside.info ol {
    margin-bottom: 0;
    list-style: decimal
}
#login div.info-wrapper h2 {
    font-size: 1rem;
}
#login .alt-actions a {
/*    color: #585858; */
/*    font-size: 0.8rem; */
    text-decoration: none
}
#login .copyright {
    margin: 5px auto;
    text-align: center
}
#login small {
    text-align: center;
    font-size: 0.7rem;
    color: #585858;
    display: block
}
#login small a {
    color: #fa8004;
    text-decoration: none;
    font-weight: bold
}
#login .message {
    display: block
}
#login span#forgotpw {
    display: none;
}

.options-form {
    text-align: right;
}

#ac_mainarea .options-menu {
    padding: 10px;
    z-index: 999;
    list-style-type: none;
}

#ac_mainarea .options-menu > li {
    line-height: 2rem;
    float: left;
    display: block;
    padding: 0 16px;
    position: relative;
}

#ac_mainarea .options-menu li ul {
    position: absolute;
    left: -999em;
    top: 0;
    margin: 0;
    padding: 15px;
}

#ac_mainarea .options-menu li:hover {
    background: #fafafa;
    cursor: pointer;
}

#ac_mainarea .options-menu li:hover ul {
    left: 0;
    top: 32px;
    width: 15rem;
    background: #fafafa;
    border: 1px solid #d0d0d0;
}

#ac_mainarea .options-menu li li {
    display: block;
    cursor: pointer;
}


/* --- CMS_HELP --- */

.cms_help {
    cursor: pointer;
}

i.cms_helpicon {
    margin-left: 0.3em;
    color: #426ef0;
}

.cms_helptext ul {
    padding: 0 10px;
    list-style: disc;
}

.cms_helptext ul li {
    margin-bottom: 8px;
}


/* Social Icons */
ul.social-icons {

}
ul.social-icons li {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: inline-block;
    vertical-align:middle;
    margin: 2px 5px;
}


/* TinyMCE override for filepicker iframe*/
.mce-container-body iframe {
    max-width: none !important;
}

.cmsfp_dlg {
    padding: 0 !important;
}

.cmsfp_dlg iframe {
    width: 100% !important;
    height: 100% !important;
    max-width: none !important;
    border: none;
}

/* table helper for small devices */
.stacktable.large-only { display: table; }
.stacktable.small-only { display: none; }

/* --- SCREEN UP TO 1200px --- */

@media (max-width: 75rem) {
    @-ms-viewport {
        width: device-width;
    }
    @-o-viewport {
        width: device-width;
    }
    @-moz-viewport {
        width: device-width;
    }
    @-webkit-viewport {
        width: device-width;
    }
    @viewport {
        width: device-width;
    }

    /* change tabs to full width on smaller screen size */
    .sidebar-on #page_tabs div {
        text-align: left;
        /* float: none; */
        border-radius: 0;
        margin-right: 0
    }
    .sidebar-on #page_tabs div.active {
        color: #fff;
        background: #147fdb
    }

    header .header-top {
        overflow: hidden
    }
/*
    header .admin-title {
        font-size: 0.9rem
    }
*/
/*
    #ac_pagemenu li,
    #ac_pagemenu li a {
        font-size: 0.85rem;
    }

    footer#ac_footer {
        height: auto;
    }
*/

    #ac_pagemenu {
        line-height: 2
    }


    #ac_mainarea header.pageheader span.helptext em {
        display: none
    }

    .dashboard-box {
        width: 18rem
    }
    .move {
        width: auto;
        padding: 0;
        max-width: 16px
    }
    .move,

    th.pagew10,
    th.pagew25,
    th.pagew50,
    th.pagew60,
    th.pagew70,
    td.pagew30 {
        width: auto;
        padding: 0;
        max-width: 30px;
        word-wrap: break-word;
        text-overflow: ellipsis;
    }
    .checkbox {
        padding-left: 0
    }
}

/* --- SCREEN UP TO 992px --- */

@media(max-width: 62rem) {

    /* override our predefined min-with for smaller screens and full height stuff */
    body {
        margin: 0;
        min-width: 100%;
        padding: 0;
    }
    a {
        outline: 0
    }
    img {
        float: none;
    }

    /*#ac_sidebar div.notification .box-shadow,*/
    header .breadcrumbs,
    /*#ac_sidebar .toggle-button,*/
    #ac_admin-content .shadow,
    .drop {
        display: none
    }
    header .welcome {
        width: auto
    }
    header.header {
        overflow: hidden
    }
    #ac_sidebar {
        border: none;
    }

    #ac_pagemenu li.current li a {
        padding: 5px;
    }

    #ac_pagemenu li .link-name {
        display:none;
    }
/*
    #ac_pagemenu li,
    #ac_pagemenu li a {
        font-size: 0.8rem;
    }
*/
    #ac_mainarea {    }
    #ac_mainarea header.pageheader {
        margin-bottom: 15px;
    }
    #ac_mainarea header.pageheader span.helptext {
        margin-right: 0
    }

    #content_area .pageoptions.grid_8,
    #content_area .pageoptions.grid_4.options-form {
        width: 100%;
        float: left !important;
        clear: both;
        text-align: left;
    }
/*
    header .cms-logo {
/*        background: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
* /
        max-width: 75%;
/ *        margin-left: 10px * /
    }
/ *
    header .shortcuts li {
        padding: 0 5px;
    }
    header .shortcuts li:last-child,
    header .shortcuts li.last {
        padding: 0 0 0 5px
    }
*/
    .dashboard-box img {
        display: inline
    }

    /* Responsive Table -- CSS solution: scroll left/right */
    .table-responsive, table.pagetable {
        border-collapse: collapse;
        width: 100%;
        margin: 5px 0 1rem;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        display: block;
        padding-bottom: 2rem;
    }

    /* fieldset, */
    /* form, */
    /* input, */
    /* textarea, */
    /* select, */
    /* menu { */
        /* max-width: 90% */
    /* } */
    /* textarea { */
        /* min-width: auto; */
        /* max-width: 40em */
    /* } */
    /* iframe { */
        /* max-width: 90% */
    /* } */
    /* input, */
    /* textarea, */
    /* select, */
    /* menu { */
        /* height: auto */
    /* } */
    /* select { */
        /* -webkit-appearance: listbox; */
        /* -moz-appearance: listbox; */
    /* } */

}

@media (max-width: 48rem) {
/*
    .sidebar-off #ac_mainarea {
        max-width: 94% !important;
        flex: 94%;
    }
*/
    #ac_sidebar aside {
        padding: 0
    }
    #ac_sidebar .toggle-button {
        display: none;
    }
    .sidebar-off #ac_sidebar nav.navigation {
        overflow: hidden;
        top: 0;
    }
/*
    #ac_pagemenu li a .svg-inline--fa {
        margin: 0;
    }
*/
}


@media (max-width: 30rem) {
    header .admin-title {
        line-height: 1;
    }
}


@media (max-width: 24rem) {

    header .admin-title, header .cms-logo {
        text-align: center;
        margin: 0 auto;
    }
/*
    header .cms-logo {
        max-height: 60%;
    }
*/
    header .cms-logo {
        max-height: 40%;
        margin: 0 auto
    }
    header .cms-logo img {
        max-width: 80%;
        width: 400px;
    }

    header .admin-title {
 /*       font-size: 0.85rem; */
        line-height: 1
    }
    header .welcome,
    #ac_footer small.copyright {
        display: none
    }
    header .shortcuts, header .welcome {
        flex: 100%;
        max-width: 100%
    }
    header .shortcuts {
        margin: 0;
        padding: 0
    }
    header .shortcuts ul {
        text-align: inherit
    }

    #ac_container {
        margin: 0 0 -150px;
        padding: 0 0 150px;
    }

    .dashboard-box {
        width: 100%;
        margin: 10px 0;
    }

    #page_tabs {
        margin-top: 0;
    }
    #page_tabs div {
        width: 100%;
        float: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    #ac_mainarea .pageoptions.options-menu.half {
        height: auto;
        width: 100% !important;
    }
    #ac_mainarea .pageoptions.options-menu.half a,
    #content_area .pageoptions.grid_8 a {
        width: 100%;
        display: block;
    }

    #ac_mainarea header.pageheader span.helptext {
        display: none;
    }
    #content_area .pageoptions.grid_8 a {
        padding: 4px 0
    }

    #ac_pagemenu {
        border-bottom: 0;
    }
/*
    #ac_pagemenu li {
        background: #d5d5d5;
/*        line-height: 2.8rem;
        padding: 8px; * /
        text-align: center;
        border-bottom: 1px solid #aaa;
    }
*/
    #ac_pagemenu li a {
        margin-left: 0;
/*        height: 45px; */
        text-align: center;
    }
    #ac_pagemenu li a:focus {
        margin-right: 0;
    }
    #ac_pagemenu li a::before {
        margin-right: 0;
/*        font-size: 1.35rem; */
    }

    #ac_footer .py-2 {
         margin: 0;
         padding: 0 0 5px 20px !important;
    }

    /* hide some table columns  for small devices designs_c */
    #template_area .pagetable,
    #stylesheet_area .pagetable,
    #designs_c .pagetable,
    #types_c .pagetable {
        display: table;
    }

    #contenttable tr th:nth-child(2), #contenttable tr td:nth-child(2),
    #contenttable tr th:nth-child(7), #contenttable tr td:nth-child(7),
    #contenttable tr th:nth-child(8), #contenttable tr td:nth-child(8),
    #contenttable tr th:nth-child(9), #contenttable tr td:nth-child(9),
    #contenttable tr th:nth-child(12), #contenttable tr td:nth-child(12),
    #contenttable tr th:nth-child(13), #contenttable tr td:nth-child(13),
    #template_area .pagetable tr th, #template_area .pagetable tr td,
    #stylesheet_area .pagetable tr th, #stylesheet_area .pagetable tr td,
    #designs_c .pagetable tr th, #designs_c .pagetable tr td,
    #types_c .pagetable tr th, #types_c .pagetable tr td  {
        display:none;
    }

    #template_area .pagetable tr th:nth-child(3), #template_area .pagetable tr td:nth-child(3),
    #stylesheet_area .pagetable tr th:nth-child(3), #stylesheet_area .pagetable tr td:nth-child(3),
    #designs_c .pagetable tr th:nth-child(2), #designs_c .pagetable tr td:nth-child(2),
    #types_c .pagetable tr th:nth-child(2), #types_c .pagetable tr td:nth-child(2){
        display:table-cell;
        width: 100%;
    }

    /* aside.message, */
    /* .pagemcontainer, */
    /* .pageerrorcontainer, */
    .pageerrorinstalldir {
        left: 5%;
        right: 5%;
        width: auto
    }

    textarea,
    select {
        min-width: auto;
        max-width: 23em
    }

    .stacktable.large-only { display: none; }
    .stacktable.small-only { display: table; }
}
