*~
*.bak
\#*\#
tmp/
#.htaccess
config.php
index.html
moduleinfo.ini
*OLD
UNUSED*
HIDE*
MANIFEST*
#Altbier/
OneEleven/
uploads/
#work in progress
assets/resources/
phar_installer/out/
phar_installer/assets/install/uploadfiles/
#non-en translations
ext/
#non-core modules, with nested git
#AccessControls/
#ContentMultiEditor/
#FileOperations/
#QUtils/
#SyntaxMultiEditor/
#ThemeManager/
#TreeFiler/
