@font-face {
  font-family: 'sorts';
  src: url('../font/sorts.eot?50053385');
  src: url('../font/sorts.eot?50053385#iefix') format('embedded-opentype'),
       url('../font/sorts.woff2?50053385') format('woff2'),
       url('../font/sorts.woff?50053385') format('woff'),
       url('../font/sorts.ttf?50053385') format('truetype'),
       url('../font/sorts.svg?50053385#sorts') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'sorts';
    src: url('../font/sorts.svg?50053385#sorts') format('svg');
  }
}
*/

[class^="Sort"]:before, [class^="sort-"]:before, [class*=" sort-"]:before {
  font-family: "sorts";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  margin-left: .2em;
  text-align: center;
 
  /* For safety - reset parent styles that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Font smoothing taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table.table_sort th.SortAble, table.table_sort th.SortUp, table.table_sort th.SortDown {
 cursor:pointer;
}

table.table_sort th.SortAble:before { content: '\e6f0'; } /* '' */
table.table_sort th.SortDown:before { content: '\e6f1'; } /* '' */
table.table_sort th.SortUp:before { content: '\e6f2'; } /* '' */

table.table_sort td.row1s {
  background-color:#e9e9e9;
}
table.table_sort td.row2s {
  background-color:#d9d9d9;
}

#filter_active {
  font-weight: bold;
  color: #0f0;
}

/* TODO ensure flexbox css for .rowbox.expand, .boxchild */
