#ggp_navwrap {
	-webkit-box: 0;
	-moz-box: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

#burger {
	display: none;
	width: calc(1.5rem + 4px);
	background-color: #58814c;
	padding: 4px 0 0 4px;
	z-index: 50;
}

#burger:hover {
	background-color: #7daa6f;
	cursor: pointer;
}

#burger > svg {
	width: 1.5rem;
	height: 1.5rem;
}

#ggp_menu {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-box-pack: center;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}

#ggp_menu.noflash {
	visibility: hidden; /* CHANGE */
/*	margin-top: -999em; */
}

#ggp_menu .descend::after {
	display: block;
	background-image: url(../images/navindicators.png);
	float: right;
	width: 12px;
	height: 12px;
	content: ' ';
	z-index: 55;
}
#ggp_menu .descend.hshut::after {
	background-position: 12px 0;  /* left arrow (for LTR) */ 
}
#ggp_menu .descend.hopen::after {
	background-position: 24x 0; /* right arrow (for LTR) */ 
}
#ggp_menu .descend.vopen::after {
	background-position: 36px 0; /* up arrow */ 
}
#ggp_menu .descend.vshut::after {
	background-position: 48px 0; /* down arrow */ 
}

#ggp_menu a {
	padding: 0;
	text-decoration: none;
	color: #fcf9f3;
}

#ggp_menu a:link, #ggp_menu a:visited {
	color: #fcf9f3;
}

#ggp_menu li {
	position: relative;
	margin: 0;
	padding-left: 4px;
	background-color: #58814c;
	color: #fcf9f3;
	font-size: 0.95em;
}

#ggp_menu li.descend.subsub::after {
	margin-right: 8px;
	margin-top: calc(0.65em - 4px);
	background-position: 24px 0; /* leftwards arrow */
}

#ggp_menu li.descend.subsubL::after {
	margin-right: 8px;
	margin-top: calc(0.65em - 4px);
	background-position: 12px 0; /* rightwards arrow */
}

#ggp_menu li > svg, #ggp_menu li > a > svg,
#ggp_menu li > img, #ggp_menu li > a > img {
	height: 1.3em;
	width: 1.3em;
	padding: 2px;
	margin-left: 0;
	margin-bottom: -0.5em;
}

#ggp_menu li > span, #ggp_menu li > a > span {
	display: inline-block;
	height: 1.3em;
	padding: 2px 4px;
	font-size: 0.95em;
	vertical-align: middle;
	cursor: pointer;
}

#ggp_menu > li {
	font-size: 1.1rem;
}

#ggp_menu > li > svg, #ggp_menu > li > a > svg,
#ggp_menu > li > img, #ggp_menu > li > a > img {
	width: 1.5rem;
	height: 1.5rem;
	margin-bottom: -0.5rem;
}

#ggp_menu > li > span, #ggp_menu > li > a > span {
	height: 1.5rem;
	font-size: 1.1rem;
}

/* CHANGE
#ggp_menu > li > ul { 
	margin-top: 4px;
}
*/

#ggp_menu > li.descend::after {
	margin-right: 4px;
	margin-top: calc(0.75rem - 4px);
	background-position: 48px 0; /* downwards arrow */
}

#ggp_menu ul {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-box-direction: normal;
	-ms-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-moz-box-direction: normal;
	-moz-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: 0; /* CHANGE */
	position: absolute;
	z-index: 50;
}

#ggp_menu ul ul {
	margin-top: calc(-1.2rem - 8px); /* CHANGE */
	z-index: 55;
}

#ggp_menu a:hover, #ggp_menu li:hover, #ggp_menu span:hover, #ggp_menu img:hover, #ggp_menu svg:hover {
	background-color: #7daa6f;
	cursor: pointer;
}

@media all and (max-width: 64rem) {
	#burger {
		display: block;
	}

	#ggp_menu {
		-ms-box-direction: normal;
		-ms-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-box-orient: vertical;
		-moz-box-direction: normal;
		-moz-box-orient: vertical;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-box-pack: start;
		-webkit-box-pack: start;
		-moz-box-pack: start;
		-ms-flex-pack: start;
		-webkit-justify-content: flex-start;
		justify-content: flex-start;
		position: absolute;
		z-index: 50;
		overflow: visible;
	}

	#ggp_menu > li {
		padding: 0 4px 2px 4px;
	}

	#ggp_menu > li.descend::after { /* CHANGE */
		background-position: 24px 0; /* rightwards arrow LTR OR 12px 0; for RTL */
	}

	#ggp_menu li.descend.subsub::after,
	#ggp_menu li.descend.subsubL::after { /* CHANGE */
		background-position: 48px 0; /* downwards */
	}

	#ggp_menu ul {
		position: relative;
		margin: 2px 0;
		padding: 0;
		overflow: visible; /* CHANGE */
	}

	#ggp_menu > li > ul {
		position: absolute;  /* CHANGES was relative; */
		top: 0;
		margin: 0;
		padding: 0; /* 2px; */
	}
}
