/*
LTE: An admin theme for CMS Made Simple
Author: CMS Made Simple Development Team

This file is a component of CMS Made Simple <http://www.cmsmadesimple.org>

CMS Made Simple is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 3 of that license, or
(at your option) any later version.

CMS Made Simple is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of that license along with CMS Made Simple.
If not, see <https://www.gnu.org/licenses/>.
*/
/*! CMSMS admin theme styling: LTE rtl v.0.9 2022 */
/*
Derived from the OneEleven/Marigold admin themes for CMS Made Simple
*/

/*
 bootstrap pallette
 blue: #007bff;
 indigo: #6610f2;
 purple: #6f42c1;
 pink: #e83e8c;
 red: #dc3545;
 orange: #fd7e14;
 yellow: #ffc107;
 green: #28a745;
 teal: #20c997;
 cyan: #17a2b8;
 white: #fff;
 gray: #6c757d; sic
 gray-dark: #343a40; sic
 primary: #007bff;
 secondary: #6c757d;
 success: #28a745;
 info: #17a2b8;
 warning: #ffc107;
 danger: #dc3545;
 light: #f8f9fa;
 dark: #343a40;

 theme pallette
 #f8f9fa body/content background
 #ccc light background
 #aaa some borders
 #6c757d grey titles
 #343a40 dark background, dark text
 #fd7e14 orange (links, title)
 #007bff blue (links, titles)
*/

/* Clearfix */

.cf::after {
	content: '';
	display: table;
	clear: both
}

.clear {
	clear: both;
	height: 0
}

.clearb {
	clear: both
}

/* Common stuff */

html,
body {
	width: 100%;
	margin: 0;
	padding: 0;
	min-height: 100%;
	height: 100%
}

body {
	min-width: 25rem;
	color: #343a40;
	line-height: 1.4;
	font-size: .95rem;
	background: #f8f9fa
}

ins {
	background-color: #ff9;
	color: #343a40;
	text-decoration: none;
}

mark {
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 10px 0;
	padding: 0
}

ul,
ol {
/*	list-style: none;
	margin: 0;
	padding: 0*/
}

#oe_mainarea ul,
#oe_mainarea ol {
	margin: 10px 25px 10px 0
}

#oe_mainarea ul {
	list-style: square
}

#oe_mainarea li {
	line-height: 1.5
}

#oe_mainarea ol li {
	list-style: decimal
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #6c757d
}

h1 {
	font-size: 1.25rem
}

h2 {
	font-size: 1.125rem
}

h3 {
	font-size: 1.01rem
}

h4 {
	font-size: .875rem
}

h5 {
	font-size: .8125rem
}

h6 {
	font-size: .75rem
}

p {
	font-size: 1.01rem;
	margin: 2px 0 10px 0
}

a,
span {
	outline: none
}

table,
td,
tr {
	text-align: right
}

form {
	margin: 0;
	display: inline
}

a,
a:link,
a:visited {
	color: #007bff;
	text-decoration: none;
	cursor: pointer
}

a:hover,
a:active {
	color: #fd7e14;
	text-decoration: underline
}

a.external::after {
	margin: 0 .25rem;
	content: '\f35d';
	font-family: 'Font Awesome 5 Free';
	color: #007bff;
	font-size: 0.7rem
}
a.external:hover::after {
	color: #fd7e14;
}

.file::before {
	padding-right: 25px;
	content: '\f03a';
	font-family: 'Font Awesome 5 Free';
}

.important {
	color: #dc3545;
	font-weight: normal
}

.smallgrey {
	font-weight: normal;
	font-size: .625rem;
	margin: 10px 0 0 0
}

div.pagecontainer .h-inside {
	float: right;
	padding-top: 8px;
	padding-left: 10px;
	margin-right: 10%;
	width: 18em;
	margin-bottom: 0.5em;
	text-align: left
}

.visible {
	position: static
}

.invisible {
	position: absolute;
	right: -9999em;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden
}

.hidden {
	display: none !important;
}

/* Format code chunks */

pre,
code,
samp,
kbd {
	font-family: 'Source Code Pro', Courier, monospace;
	text-align: right;
	color: #343a40;
	height: auto;
	font-size: .875rem
}

pre code {}

pre {
	padding: 5px 20px;
	border-right: 10px solid #ccc;
	background: #eee;
	margin: 5px;
	overflow: auto;
	display: inline-block;
	width: auto
}

/*
table.pagetable,
table.pagetable a.tooltip span,
div.pagecontainer fieldset,
input,
textarea,
select,
menu,
.group_memberships,
.dashboard-box img,
.warning,
.error,
.information,
.message,
.success,
.pagewarning {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}
*/
/* Forms */

form {
	margin: 0;
	display: inline
}

input,
textarea,
select,
menu {
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-size: .875rem;
	margin: 2px 0 2px 5px;
	padding: 4px 5px;
	border: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	border-left: 1px solid #aaa;
	background: #ededed
}

textarea {
	resize: both;
}

.resize-horizontal {
	resize: horizontal;
}

.resize-vertical {
	resize: vertical;
}

input {
	text-indent: 5px;
	margin-left: 5px
}

input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
button:focus,
input:focus,
textarea:focus,
select:focus,
menu:focus {
	border: 0;
	outline: 1px solid #6c757d;
	outline-offset: 1px;
	background: #fff
}
/* work around jQUI unfortunate behaviour */
.ui-dialog *:focus {
	border: 1px solid #6c757d;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	outline: 0;
	background: #fff;
}

input:hover,
textarea:hover,
select:hover,
checkbox:hover {
	border: 1px solid #aaa;
	background: #fff
}

input[type='text'],
input[type='password'] {
	padding: 5px
}
input[type='text']#in_title,
input[type='text']#in_menutext {
	min-width: 30%
}
/*
input[type='text'] {
	min-width: 25%
}
*/

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.ui-button {
	border: 1px solid #aaa;
/*	background: #ccc url(../admin/themes/AdminLTE/css/default-cmsms/images/button-bg-tall.png) 50% 50% repeat-x;*/
/*	color: #555;*/
	cursor: pointer;
	-webkit-border-radius: .2rem;
	-moz-border-radius: .2rem;
	border-radius: .2rem;
	background-color: #ededed;
	padding: .2rem .5rem; /* sometimes trumped by adminlte.css setting */
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	font-size: 1rem;
	line-height: 1.5
}

button,
.ui-button {
	margin: 4px 2px
}

.ui-button-text {
	font-size: .75rem;
	margin-right: 2px
}
/* TODO useless
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
button:active {
	border: 0;
	outline: 1px solid #6c757d;
	outline-offset: 1px;
	background: #fff;
}
*/
button.ui-button.ui-state-active {
	border: 1px solid #d3d3d3;
/*	background: #ccc url(../admin/themes/AdminLTE/css/default-cmsms/images/button-bg-tall.png) 50% 50% repeat-x;*/
	font-weight: normal;
	background-color: #fff
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.ui-button:hover {
	background-color: #fff;
	cursor: pointer
}

input[type="checkbox"] {
	background: #fff;
	border: none
}

textarea {
	min-width: 10em;
	min-height: 3em;
}
/*
textarea {
	width: 48em;
	height: 30em;
	overflow: auto
}
*/

/* Notification messages */

.tooltip {
	cursor: help;
}

a.tooltip {
	cursor: pointer;
}

.ui-tooltip {
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-size: .8125rem;
}

.text-red,
a.text-red,
table.pagetable a.text-red {
	color: #dc3545
}

.dialog .green,
.dialog .red,
.dialog .yellow,
.dialog .orange {
	display: block
}
/*
.green,
.red,
.yellow,
.orange {
	padding: 10px;
}
*/
.green {
	color: #28a745;
}
.red {
	color: #dc3545;
}
.yellow {
	color: #ffc107;
}
.orange {
	color: #fd7e14
}
.blue {
	color: #007bff
}

.pageinfo,
.pagewarning,
.pagemcontainer,
.pageerrorcontainer,
.pageerrorinstalldir,
.message,
.warning,
.error,
.information {
	display: inline-block;
	width: auto;
	margin: 0 0 1rem 0;
	padding: 1rem;
	border-width: 1px;
	border-style: solid;
	border-right: 0.25rem solid #343a40;
/*	-webkit-border-radius: 0.25rem;
	-moz-border-radius: 0.25rem;
	border-radius: 0.25rem;*/
	line-height: 1.2;
	font-size: 1em;
}

.error,
.pageerrorcontainer,
.pageerrorinstalldir {
	border-right-color: #dc3545;
}

.success,
.pagemcontainer {
	border-right-color: #28a745;
}

.information,
.pageinfo {
	border-right-color: #17a2b8;
}

.pagewarning.hidden {
	display: none
}

.warning,
.pagewarning {
	border-right-color: #ffc107;
}

.message:hover {
	cursor: help
}

.block {
	display: block;
}

aside.message,
.pagemcontainer,
.pageerrorcontainer,
.pageerrorinstalldir {
	position: fixed;
	z-index: 9999;
	border-top: none;
	width: 30%;
	font-size: .75rem;
/*	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;*/
	-webkit-box-shadow: -4px 4px 4px 1px rgba(0,0,0,0.4);
	-moz-box-shadow: -4px 4px 4px 1px rgba(0,0,0,0.4);
	box-shadow: -4px 4px 4px 1px rgba(0,0,0,0.4);
	top: 0;
	margin: 0;
	right: 35%
}

aside .no-slide,
.no-slide {
	position: inherit;
	right: auto;
	top: auto;
	border: 1px solid #dc3545;
/*	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;*/
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-image: none;
	width: auto;
	display: block;
	z-index: 0
}

.pageerrorcontainer ul {
	border: none;
	margin-right: 1.5rem;
	background: none
}

.errorDialog {
	border: 1px solid #dc3545;
	color: #dc3545;
	height: 100%;
	line-height: 100%;
}

/* Popup notifications by jQ toast-plugin */

.jqtoast {
	display: block;
	position: fixed;
	border-width: 1px;
	border-style: solid;
	max-width: 40em;
	line-height: 1.2;
	letter-spacing: normal;
	font-size: 0.9em;
	pointer-events: all !important;
	z-index: 9000 !important;
	/* styles reconciled with .callout.callout-* in adminlte.core.css */
	border-right: 0.25rem solid #343a40;
	-webkit-border-radius: 0.25rem;
	-moz-border-radius: 0.25rem;
	border-radius: 0.25rem;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	background-color: #fff;
	margin: 0 0 1rem 0;
	padding: 1rem;
}
.jqtoast.bottom-left {
	bottom: 1.25em;
	right: 2.5em
}
.jqtoast.bottom-right {
	bottom: 1.25em;
	left: 2.5em
}
.jqtoast.top-left {
	top: 4.5em;
	right: 2.5em
}
.jqtoast.top-right {
	top: 4.5em;
	left: 2.5em
}
.jqtoast.bottom-center {
	bottom: 1.25em
}
.jqtoast.top-center {
	top: 4.5em
}
.jqtoast * {
	margin: 0;
	padding: 0
}
.jqtoast ul {
	background: none;
	margin-right: 1em;
	padding: 0
}
.jqtoast ul li {
	list-style-type: disc !important;
	background: none;
	padding: 0;
	letter-spacing: normal
}
.jqt-heading {
/*	margin-top: -1.6em; / *c.f. .jqt-close*/
	margin-bottom: 10px;
	padding: 10px;
	font-size: 1em;
	font-weight: bold;
	text-align: center
}
.drag .jqt-heading {
	cursor: move
}
.jqt-close {
	position: absolute;
	width: 1.6em;
	height: 1.6em;
	top: 1.7em;
	left: 2em;
	cursor: pointer
}
.jqt-close::before {
	content: '\f410';
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	font-size: 1.6em
}
.jqt-loader {
	display: block;
	position: absolute;
	background: #007bff;
	top: -2px;
	height: 5px;
	width: 0;
	right: 0;
/*	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
*/
}
.jqt-loaded {
	width: 100%
}
/*
.jqt-has-icon::before {
	font-size: 1.5em;
	padding-right: 0.3em;
}
*/
.error.jqtoast {
	border-right-color: #dc3545;
}
.error .jqt-close::before {
	color: #fff;
}
.error .jqt-heading {
	background-color: #dc3545;
	color: #fff;
}
.jqt-icon-error::before {
	content: '\f05e';
	color: #f32035;
}
.warn.jqtoast {
	border-right-color: #ffc107;
}
.warn .jqt-close::before {
	color: #343a40;
}
.warn .jqt-heading {
	background-color: #ffc107;
	color: #343a40;
}
.jqt-icon-warning::before {
	content: '\f071';
	color: #f3ba12;
}
.info.jqtoast {
	border-right-color: #17a2b8;
}
.info .jqt-close::before {
	color: #fff;
}
.info .jqt-heading {
	background-color: #17a2b8;
	color: #fff;
}
.jqt-icon-info::before {
	content: '\f05a';
	color: #0aaec7;
}
.success.jqtoast {
	border-right-color: #28a745;
}
.success .jqt-close::before {
	color: #fff;
}
.success .jqt-heading {
	background-color: #28a745;
	color: #fff;
}
.jqt-icon-success::before {
	content: '\f058';
	color: #28a745;
}

.alert-dialog {
	margin: 0;
	padding: 0;
}
.alert-dialog a {
	text-decoration: underline
}

.alert-dialog ul li {
	margin: 0
}

.alert-dialog .jqtoast {
	position: relative;
	margin: 0;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 0.9em;
}
.alert-dialog .jqtoast > .jqt-heading {
	margin-left: 2em;
}
.alert-dialog .jqtoast > span {
	font-size: 0.8em;
}

.alert-dialog .ui-icon {
	background-image: url('');
}

.alert-dialog .alert-icon {
	float: right;
	margin-left: .25rem;
	height: 1.5em;
	width: 1.5em;
	text-indent: 0;
}
.alert-dialog .alert-icon:before {
	content: '\f071';
	font-family: 'Font Awesome 5 Free';
	font-size: 1.1em;
	color: #dc3545;
}

.alert-dialog .alert-remove {
	float: left;
	cursor: pointer;
	margin-right: .25rem;
	height: 1.5em;
	width: 1.5em;
	text-indent: 0;
}
.alert-dialog .alert-remove:after {
	margin-right: .25rem;
	content: '\f057';
	font-family: 'Font Awesome 5 Free';
	font-size: 1.25em;
	color: #dc3545
}

.alert-head {
	padding: .3rem;
}

/* Close notification */

.close-warning {
/*	float: right;
	display: inline-block;*/
	width: 1em;
	height: 1em;
/*	text-indent: -9999em;*/
	cursor: pointer;
/*	margin: 5px*/
}
.close-warning::before {
	content: '\f410';
	font-family: 'Font Awesome 5 Free';
	font-size: 1em;
	color: #343a40;
}

/* Spinner */

@keyframes spin {
	0% {
		transform: rotate(0)
	}
	100% {
		transform: rotate(-360deg)
	}
}

#cms_busy,
.busy {
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 3em;
	width: 3em;
	margin: auto;
	border: .25em solid rgba(0, 123, 255, 0.3);/*translucent #007bff*/
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

#cms_busy::before,
.busy::before {
	background: #007bff;
	box-sizing: border-box;
	content: '';
	position: absolute;
	top: 2px;
	right: calc(50% - .125em);
	width: .25em;
	height: calc(50% - 2px);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	transform-origin: 50% 100%;
	-webkit-animation: spin 1.5s linear infinite;
	-moz-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
}

/* Layout */

.colbox {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-box-direction: normal;
	-ms-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-moz-box-direction: normal;
	-moz-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
.colbox.expand {
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.colbox.flow {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.colbox .boxchild {
	margin-bottom: 10px;
}
.rowbox {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.rowbox.expand {
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.rowbox.flow {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.rowbox .boxchild {
	margin-left: 10px;
}
.boxchild {
	-webkit-box: 0;
	-moz-box: 0;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
}
.boxchild.fill {
	-webkit-box: 1;
	-moz-box: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.resize-horizontal {
	resize: horizontal;
}
.resize-vertical {
	resize: vertical;
}

/* Full height */

#oe_container {
	position: relative;
	height: auto !important;
	height: 100%;
	margin: 0 0 -30px 0;
	min-height: 100%
}

/* Realign content */

.spacer {
	height: 2em;
	clear: both
}

.postgap {
	margin-top: .3em;
	margin-bottom: 1em;
	overflow: auto;
}

.pregap {
	margin-top: 1em;
	margin-bottom: .3em;
	overflow: auto;
}

#oe_admin-content {
	height: 100%
}

#oe_admin-content .shadow {
	background: transparent url(../images/layout/sprite_repeatx.png) 831px -148px repeat-x;
	z-index: 50;
	position: absolute;
	top: 100px;
	right: 0;
	width: 100%;
	height: 7px
}

/* Header */

#aboutinfo {
	position: fixed;
	top: 3.5rem;
	left: 1em;
	font-weight: bold;
	z-index: 3000;
}

#headerlogo {
	height: 2.3em;
	min-width: 12em;
	background-image: url(../../assets/images/cmsms-logotext-light.svg);
	background-repeat: no-repeat;
	background-size: auto 2.3em;
}

.headericon {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 1em;
	height: 2em;
	width: 2em;
}

.headericon img {
	max-height: 2em;
	max-width: 2em;
}

header.header {
	height: 100px;
	background: #ccc
}

header .header-top {
	height: 69px;
	border-bottom: 1px solid #aaa;
	background: #eee url(../images/layout/sprite_repeatx.png) 831px -10px repeat-x
}

header .cms-logo {
	width: 240px;
	height: 70px;
	padding-right: 10px;
	float: right
}

header .admin-title {
	text-align: left;
	max-width: 70%;
	overflow: hidden;
	display: inline-block;
	height: 70px;
	font: bold 14px/70px sans-serif;
	margin-left: 20px;
	color: #6c757d;
	text-shadow: -1px 1px 0 rgba(255,255,255,0.66);
	float: left
}

header .header-bottom {
	height: 29px;
	line-height: 29px;
	border-bottom: 1px solid #0f0f0f;
	position: relative;
	width: 100%;
	background: #343a40 url(../images/layout/sprite_repeatx.png) 831px -99px repeat-x
}

header .welcome {
	width: 250px;
	overflow: hidden;
	float: right;
	color: #fff;
	background: transparent url(../images/layout/welcome-bg.gif) no-repeat top left
}

header .welcome span {
	display: inline-block;
	width: auto;
	font-size: .6875rem;
	line-height: 1.2;
	margin-right: 10px
}

header .welcome a {
	color: #fff
}

header .welcome a i {
	color: #fd7e14;
	font-size: 1.2em;
}

header a.welcome-user {
	height: 18px;
	width: 18px;
	display: inline-block;
	margin-left: 10px;
}

/* Shortcut icons */

header .shortcuts {
	line-height: 1.5rem;
	float: left
}

header .shortcuts ul {
	width: auto;
	text-align: right;
	margin-left: 20px
}

header .shortcuts li {
	padding: 0 12px;
	display: inline-block;
	float: right
}

header .shortcuts li:last-child,
header .shortcuts li.last {
	padding: 0 12px 0 0
}

header .shortcuts li i {
	font-size: 1.2em;
	padding-top: 0.35em;
}

header .shortcuts li a {
	cursor: pointer;
	color: #fd7e14;
}

header .shortcuts li a:hover {
	color: #007bff
}

header .shortcuts li.notifications {
	position: relative;
}

header .shortcuts li.notifications span.bubble {
	position: absolute;
	top: 1px;
	left: 0;
	margin-left: 0;
	text-align: center;
	width: 1.2rem;
	height: 1.2rem;
	-webkit-border-radius: .8em;
	-moz-border-radius: .8em;
	border-radius: .8em;
	background: #900;
	font-size: .8em;
	line-height: 1.2rem;
	font-weight: bold;
	text-indent: initial;
	color: white;
}


/* Sidebar */

#oe_sidebar {
	width: 249px;
	border-left: 1px solid #fff;
	background: #ccc url(../images/layout/sidebar-shadow.png) repeat-y left;
	position: absolute;
	right: 0;
	top: 100px;
	bottom: 0
}

#oe_container.sidebar-off #oe_sidebar {
	overflow: hidden;
	width: 40px
}

#oe_sidebar aside {
	padding-bottom: 30px;
	position: relative
}

#oe_sidebar nav.navigation {
	height: auto;
	margin-top: 45px;
	position: relative
}

/* toggle sidebar */

#oe_sidebar .toggle-button {
	z-index: 99;
	display: block;
	cursor: pointer;
	width: 24px;
	height: 25px;
	position: absolute;
	left: -1px;
	top: 12px
}

#oe_sidebar .toggle-button.top {
	top: -33px
}

#oe_sidebar .toggle-button {
	font-family: 'Font Awesome 5 Free';
	font-size: 1.2em;
}

.sidebar-on #oe_sidebar .toggle-button::before {
	content: '\f100';
}

.sidebar-off #oe_sidebar .toggle-button::before {
	content: '\f101';
}

/* sidebar notifications */

#oe_sidebar nav.navigation .box-shadow {
	width: 11px;
	z-index: 10;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	background: url(../images/layout/sidebar-shadow.png) repeat-y left
}

/* Main navigation */

nav ul#oe_pagemenu {
	border-bottom: 1px solid #adadad;
/*	margin-top: 45px*/
}

nav ul#oe_pagemenu li {
	position: relative;
	zoom: 1;
	background: url(../images/layout/navigation-bg.gif) repeat-x top;
	line-height: 2.2rem;
	padding: 0
}

/* position sticky menu */

.sidebar-on #oe_sidebar nav.navigation {
	width: 249px
}

.sidebar-off #oe_sidebar nav.navigation {
	width: 40px;
	overflow: hidden
}

nav > ul ul li {
	margin-right: .75rem;
	margin-left: 0;
}

.nav-text {
	margin-right: .5rem;
}

/* toggle submenu */

nav ul#oe_pagemenu li span.open-nav {
	display: block;
	width: 210px;
	height: 2.2rem;
	z-index: 50;
	position: absolute;
	left: 5px;
	top: 0;
}

nav ul#oe_pagemenu li span.open-nav.open-sub,
nav ul#oe_pagemenu li.current span.open-nav,
nav ul#oe_pagemenu li:hover span.open-nav,
nav ul#oe_pagemenu li.current span.open-nav,
nav ul#oe_pagemenu li.current:hover span.open-nav,
nav ul#oe_pagemenu li a span:hover {
	cursor: pointer;
}

nav ul#oe_pagemenu li span.open-nav.open-sub::before,
nav ul#oe_pagemenu li.current span.open-nav::before,
nav ul#oe_pagemenu li:hover span.open-nav::before,
nav ul#oe_pagemenu li.current span.open-nav::before,
nav ul#oe_pagemenu li.current:hover span.open-nav::before,
nav ul#oe_pagemenu li a span:hover::before {
	content: '\f0d7';
	font-family: 'Font Awesome 5 Free';
	float: left;
	margin-left: 0.8em;
}

nav ul#oe_pagemenu li span.open-nav.open-sub::after {}


/* menu style */

nav ul#oe_pagemenu li a {
	color: #343a40;
	outline: 0;
	margin-right: 9px;
	height: 2.1rem;
	font-weight: bold;
	display: block;
	text-shadow: -1px 1px 0 #fff;
	text-decoration: none;
	border: 1px solid transparent;
}

nav ul#oe_pagemenu li.current li a {
	color: #343a40
}

nav ul#oe_pagemenu li ul,
#oe_container.sidebar-off nav ul#oe_pagemenu li span.open-nav {
	display: none
}

#oe_container.sidebar-on nav ul#oe_pagemenu li.current ul {
	display: block
}

#oe_container.sidebar-on nav ul#oe_pagemenu li {
	zoom: 1
}

nav ul#oe_pagemenu li.current a,
nav ul#oe_pagemenu li a:hover,
nav ul#oe_pagemenu li:hover a,
nav ul#oe_pagemenu li a:active,
nav ul#oe_pagemenu li.current li a:hover,
nav ul#oe_pagemenu li.current li a:active,
nav ul#oe_pagemenu li.current li a,
nav ul#oe_pagemenu li li a:hover {
	color: #007bff;
}

nav ul#oe_pagemenu li a:focus {
	color: #007bff !important;
	border: 1px solid #007bff;
	margin-left: 10px;
}

nav ul#oe_pagemenu li a.main::before,
h3.main::before {
	content: '\f015';
	font-family: 'Font Awesome 5 Free';
	margin-left: 15px;
	font-size: 1.2em;
	width: 10px;
	font-weight: normal;
}

nav ul#oe_pagemenu li a.content::before,
h3.content::before {
	content: '\f15c';
	font-family: 'Font Awesome 5 Free';
	margin-left: 15px;
	font-size: 1.2em;
	width: 10px;
	font-weight: normal;
}

nav ul#oe_pagemenu li a.files::before,
h3.files::before {
	content: '\f0c5';
	font-family: 'Font Awesome 5 Free';
	margin-left: 15px;
	font-size: 1.2em;
	width: 10px;
	font-weight: normal;
}

nav ul#oe_pagemenu li a.layout::before,
h3.layout::before {
	content: '\f00a';
	font-family: 'Font Awesome 5 Free';
	margin-left: 15px;
	font-size: 1.2em;
	width: 10px;
	font-weight: normal;
}

nav ul#oe_pagemenu li a.usersgroups::before,
h3.usersgroups::before {
	content: '\f0c0';
	font-family: 'Font Awesome 5 Free';
	margin-left: 15px;
	font-size: 1.2em;
	width: 10px;
	font-weight: normal;
}

nav ul#oe_pagemenu li a.extensions::before,
h3.extensions::before {
	content: '\f12e';
	font-family: 'Font Awesome 5 Free';
	margin-left: 15px;
	font-size: 1.2em;
	width: 10px;
	font-weight: normal;
}

nav ul#oe_pagemenu li a.siteadmin::before,
h3.siteadmin::before {
	content: '\f013';
	font-family: 'Font Awesome 5 Free';
	margin-left: 15px;
	font-size: 1.2em;
	width: 10px;
	font-weight: normal;
}

nav ul#oe_pagemenu li a.myprefs::before,
h3.myprefs::before {
	content: '\f007';
	font-family: 'Font Awesome 5 Free';
	margin-left: 15px;
	font-size: 1.2em;
	width: 10px;
	font-weight: normal;
}

nav ul#oe_pagemenu li a.ecommerce::before,
h3.ecommerce::before {
	content: '\f07a';
	font-family: 'Font Awesome 5 Free';
	margin-left: 15px;
	font-size: 1.2em;
	width: 10px;
	font-weight: normal;
}

nav ul#oe_pagemenu li a.parent::before {
	width: 1em;
	display: inline-block;
	text-align: center;
}


/* second level & collapsed sidebar */

nav ul#oe_pagemenu ul {
	padding: 8px 0;
	background: #ededed
}

nav ul#oe_pagemenu li li {
	background: none;
	line-height: 1;
}

nav ul#oe_pagemenu li li.module {
	background-color: #e5e5e5;
	border-bottom: 1px dotted #f0f0f0
}

nav ul#oe_pagemenu li.current li a,
nav ul#oe_pagemenu li li a,
nav ul#oe_pagemenu li:hover li a {
	height: auto;
	line-height: 1.3;
	white-space: pre-line;
	word-break: normal;
	padding: 5px 30px 5px 5px;
	color: #343a40;
	font-weight: normal;
}

nav ul#oe_pagemenu li li a:hover,
nav ul#oe_pagemenu li li.current a {
	color: #007bff;
}

nav ul#oe_pagemenu li li a:hover,
nav ul#oe_pagemenu li li a:active,
nav ul#oe_pagemenu li.current li a:hover,
nav ul#oe_pagemenu li.current li a:active {
	padding-right: 30px
}

/* Page content */

#oe_mainarea {
	margin: 0 249px 0 0
}

#oe_container.sidebar-off #oe_mainarea {
	margin: 0 40px 0 0
}

#oe_mainarea .content-inner {
	padding: 0 25px 0 20px;
	position: relative;
	overflow: hidden;
}

#oe_mainarea header.pageheader {
	max-height: 63px;
	margin-bottom: 15px;
	position: relative;
	border-bottom: 1px solid #fd7e14
}

i.cms_helpicon {
	margin-right: 0.3em;
	vertical-align: middle;
	font-size: 1.4em;
	color: #17a2b8;
}
.cms_helpicon {
	cursor: pointer;
}

/* Footer */

footer#oe_footer {
	width: 100%;
	z-index: 50;
	height: 30px;
	background: transparent url(../images/layout/sprite_repeatx.png) 829px -259px repeat-x;
	padding-top: 5px;
	clear: both;
	position: fixed;
	bottom: 0
}

footer#oe_footer a {
	text-decoration: none;
	color: #007bff
}

footer#oe_footer a:hover,
footer#oe_footer a:active {
	color: #fd7e14
}

#oe_footer small {
	font-size: .6875rem;
	color: #fff
}

#oe_footer .footer-left {
	width: 450px;
	padding: 10px;
	line-height: 15px;
	float: right
}

.footer-left {
	margin: 0 260px 0 0
}

#oe_container.sidebar-off .footer-left {
	margin: 0 60px 0 0
}

#oe_footer .footer-right {
	float: left;
	padding: 10px;
	line-height: 15px;
	display: inline;
	width: auto
}

#oe_footer ul.links {
	display: inline-block;
	margin-left: 20px;
	font-size: .75rem;
	width: auto
}

#oe_footer ul.links li {
	display: block;
	padding: 0 8px;
	float: right
}

#oe_footer ul.links li:last-child,
#oe_footer ul.links li.last {
	padding: 0 8px 0 0
}

/* Content */

#oe_mainarea header.pageheader h1 {
	font-size: 1.125rem;
	line-height: 63px;
	font-weight: normal;
	width: auto;
	margin: 0;
	padding: 0;
	float: right;
	display: inline;
	color: #007bff
}

#oe_mainarea header.pageheader .module-icon {
	vertical-align: middle;
	margin-left: 15px;
	max-height: 2rem
}

#oe_mainarea header.pageheader span.helptext,
.pageheader span.helptext {
	display: inline;
	line-height: 1.5;
	float: left;
	width: auto;
	color: #343a40;
	font-size: .75rem
}

#oe_mainarea header.pageheader.drop-hidden span.helptext {
	margin-left: 0
}

#oe_mainarea header.subheader h3 {
	color: #007bff
}

/* font icons used for images */
i.fontimage {
	vertical-align: middle;
	font-size: 1.3em;
}

.helptext a.external,
.helptext a {
	display: inline-block;
	width: auto;
	padding-left: 20px;
	margin-right: 8px;
}
.helptext a::before {
	content: '\f059';
	font-family: 'Font Awesome 5 Free';
	color: #007bff;
}
.helptext a.external::after {
	content: '\f35d';
	font-family: 'Font Awesome 5 Free';
	color: #007bff;
	font-size: 0.7rem
}

.pageheader span.helptext {
	display: inline-block;
	line-height: 1.3;
	padding-left: 0;
	margin-right: 8px;
	background: none
}

.pageheader span.helptext a img {
	margin-left: 10px
}

#oe_mainarea a.helpicon {
	display: none;
}

.pageheader {
	font-size: 1.125rem;
	font-weight: normal;
	margin: 0;
	padding: 0;
	color: #007bff
}

div.pageoverflow {
	clear: right;
	padding-top: 1px;
	width: auto;
	overflow: hidden
}

div.pageoverflow img {
	border: 0
}

div.pageoptions,
p.pageoptions {
	padding: 2px 0
}

div.pageoptions a,
p.pageoptions a,
a.pageoptions {
	padding: 2px 0;
	color: #6c757d;
	display: inline;
	cursor: pointer
}

img.systemicon {
	border: none;
	vertical-align: top
}
svg.systemicon {
	max-height: 1.2rem;
	max-width: 1.2rem
}

#copy_paste_in_forum {
	width: 80%;
	margin: 0 10%
}

.pagerows a {
	display: inline-block;
	background: #eee;
	padding: 2px 4px;
	margin: 2px 1px;
	color: #6c757d;
	border: 1px solid #aaa
}

.pagerows strong {
	background: #007bff;
	padding: 2px 4px;
	margin: 0 1px;
	color: #fff;
	border: 1px solid #007bff
}

/* Dialogs */

div.dialog h3 {
	margin: 5px 0;
	color: #007bff;
	font-size: .875rem
}

div.dialog a.bookmark {
	padding-right: 20px;
	line-height: 1.25;
}
div.dialog a.bookmark::before {
	content: '\f02e';
	font-family: 'Font Awesome 5 Free';
}

div.dialog form#chdir_form {
	display: block
}

div.dialog form#chdir_form select {
	width: 12rem
}

/* Tables */

table th:first-child {
	border-top-right-radius: 4px
}

table th:last-child {
	border-top-left-radius: 4px
}

table tr:last-child td:first-child {
	border-bottom-right-radius: 4px
}

table tr:last-child td:last-child {
	border-bottom-left-radius: 4px
}

table.pagetable {
	border-collapse: inherit;
	font-size: .875rem;
	border: 1px solid #aaa;
	width: 100%;
	margin: 5px 0
}

table.pagetable caption {
	color: #6c757d;
	text-align: right;
	font-weight: bold;
	font-size: .75rem;
	padding: 5px 0
}

table.pagetable th,
table.pagetable thead tr {
	color: #333;
	background: #fff;
	height: 2.5em;
	text-align: right;
	white-space: nowrap;
	padding-right: 5px;
	padding-left: 5px
}

table.pagetable th a {
	color: #333
}

table.pagetable th.active {
	color: #333
}

table.pagetable th input:focus {
	outline: 2px solid #fd7e14;
}

table.pagetable th.active a,
table.pagetable th a:hover {
	color: #333;
	text-decoration: underline
}

table.pagetable tr {
	height: 2.25em
}

table.pagetable td {
	color: #6c757d;
	padding: 0 5px;
	vertical-align: middle;
}

table.pagetable a {
	color: #333
}

table.pagetable td a:focus {
	color: #333;
}

table.pagetable th.pagepos {
	text-align: center
}

.move {
	width: 60px;
	text-align: right;
	padding-right: 5px
}

.checkbox {
	padding-right: 10px
}

table.pagetable th.pageicon {
	min-width: 1rem;
	width: 1%;
/*	border: none*/
}

th.pagew10 {
	width: 10%
}
th.pagew25 {
	width: 25%
}
th.pagew50 {
	width: 50%
}
th.pagew60 {
	width: 60%
}
th.pagew70 {
	width: 70%
}
td.pagew30 {
	width: 30%
}

td.pagepos {
	text-align: center
}

tr.row1 {
	background: rgba(0,0,0,.05)
}

tr.row2 {
	background: #fff
}

tr.row1:hover,
tr.row2:hover,
tr.row1hover,
tr.row2hover {
	background: #ccc
}

td.pageicon {
	background: #f2f2f2 !important
}

td.icons_wide {
	width: 25px
}

/* Actions sub-menus */

.ContextMenu {
	position: fixed;
	display: none;
	border: 1px solid #aaa;
/*	-webkit-border-radius: .5rem;
	-moz-border-radius:.5rem;
	border-radius: .5rem;*/
	padding: 9px 6px;
	max-width: 15rem;
/*	min-width: 12rem;*/
	max-height: 25rem;
	background-color: #ededed;
	font-size: .9rem;
}

.ContextMenu.active {
	display: block;
	background-color: #ededed;
	-webkit-box-shadow: -4px 5px 12px -4px rgba(0, 0, 0, 0.2);
	box-shadow: -4px 5px 12px -4px rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.ContextMenu > ul {
	max-width: 15rem;
	max-height: 22rem;
	overflow: auto;
	margin-right: 6px;
	margin-bottom: 6px;
	padding: 0;
	list-style-type: none;
}

.ContextMenu li {
	margin-bottom: 10px;
/*	min-width: 6rem;*/
	list-style-type: none;
}

.ContextMenu li:last-child {
	margin-bottom: 0;
}

.ContextMenu li:hover {
	background-color: #fff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	cursor: pointer;
}

.ContextMenu li:hover > span {
	background-color: #fff;
}

.ContextMenu li i {
	padding: 0;
}

.ContextMenu li .glyphicon {
	margin-left: 5px;
	padding-left: 5px;
	font-size: 1.125rem;
	border-left: 1px solid #aaa;
}

#oe_mainarea .ContextMenu > ul {
	max-width: 15rem;
	max-height: 22rem;
	overflow: auto;
	margin-right: 6px;
}

#menus1 .ContextMenu > ul {
	margin: 0;
}

#menus2 .ContextMenu > ul {
	margin: 0;
}

#menus i.fontimage {
	color: #6c757d;
}

#menus i.fontimage.red {
	color: #dc3545;
}

#tplmenus i.fontimage {
	color: #6c757d;
}

#tplmenus i.fontimage.red {
	color: #dc3545;
}

/* Design manager module */

.pointer {
	cursor: pointer;
}

#oe_mainarea ul.sortable-list {
	list-style: none;
	padding: 0;
	margin: 0;
	max-height: 20rem;
	min-height: 1.5rem;
	overflow: auto;
}

#oe_mainarea .sortable-list li {
	list-style: none;
	padding: 4px 12px;
	margin-bottom: 1px;
	display: block;
	position: relative;
	cursor: move;
}

#oe_mainarea .sortable-list li .sortable-remove {
	float: left;
	display: inline-block;
}

#oe_mainarea .available-templates li .sortable-remove,
#oe_mainarea .available-stylesheets li .sortable-remove {
	display: none;
}

#oe_mainarea .sortable-list > li.ui-state-highlight {
	padding: 14px 0;
}

#oe_mainarea .sortable-table {
	cursor: move;
}

/* File manager module */

#filesarea img {
	max-width: 32px
}

/* Iframe */

iframe.imageframe {
	margin-top: 10px;
	border: none;
	width: 100%
}

iframe.preview {
	background-color: #fff;
	margin: 10px 0;
	border: solid 1px #aaa;
	width: 95%;
	height: 25rem
}

/* content text and forms */

/* TODO pageback class now redundant? */

.pageback {
	clear: both;
	text-align: right
}

a.pageback {
	display: inline-block;
	position: relative;
	margin: 10px 0;
	line-height: 1.6;
	color: #343a40;
	text-decoration: none;
	padding: 0 20px 0 8px
}

a.pageback .ui-icon {
	position: absolute;
	right: 0;
	top: 6px
}

a.pageback:hover {
	color: #fff
}

div.pagecontainer .pagetext {
	color: #6c757d;
	margin: 10px 0 5px 0;
	padding: 0;
	width: auto;
	font-weight: bold
}

div.pagecontainer .pageshowrows {
	color: #6c757d;
	font-size: .875rem;
	text-align: left;
	margin-bottom: 5px
}

div.pagecontainer span.helptext {
	display: inline-block
}

/* content forms */

div.pagecontainer .pageinput {
	padding: 0;
	margin: 0;
	width: auto;
	text-align: right
}

.pageinput img {
	line-height: 1.75;
	vertical-align: middle
}

div.pagecontainer fieldset {
	border: 1px solid #aaa;
	border-radius: 0;
	margin: 10px 0
}

div.pagecontainer legend {
	font-weight: bold;
	color: #6c757d;
	padding: 0 5px;
	font-size: .875rem
}

.pageinput input,
.pageinput textarea,
.pageinput select,
.pageinput menu {
	margin-right: 2px;
	margin-bottom: 4px
}

.group {
	padding-left: 3px;
	padding-bottom: 3px;
	padding-top: 3px;
}

.group_memberships {
	margin: 0;
	height: 1%; /*IE*/
	padding: 5px 10px;
	background: #fefefe;
	border: 1px solid #aaa;
}

div.pagecontainer p.pageinput,
div.pagecontainer .pageinput label {
	font-size: .875rem
}

p.pageinputwysiwyg {
	padding-top: 5px
}

p.pagemessage {
	margin-bottom: 0;
	padding: 5px;
	font-weight: bold
}

input.pagecheckbox {
	border: none
}

/*
textarea.pagebigtextarea {
	height: 40em;
	width: 90%
}
*/

.pageinput textarea {
	width: 90%;
	font-family: 'Source Code Pro', Courier, monospace;
	font-size: .8125rem;
	line-height: 1.6
}

textarea.pagesmalltextarea {
	height: 15em;
	width: 90%
}

textarea.pageextrasmalltextarea {
	height: 8em;
	width: 90%
}

fieldset {
	margin: 0 0 10px 10px;
	border: 1px solid #aaa;
}

legend {
	padding: 0 .5em;
	width: inherit;
	font-size: 1.2em;
}

/* Tabs */

#page_tabs {
	overflow: hidden;
	margin: 20px 0;
}

#page_tabs div {
	color: #6c757d;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.66);
	background: #ccc;
	font-weight: bold;
	text-align: center;
	float: right;
	cursor: pointer;
	white-space: nowrap;
	padding: 11px;
	margin-top: 1px;
	margin-left: 1px
}

#page_tabs div img {
	height: .875rem;
	margin-top: 2px;
	margin-right: 5px;
	margin-left: 5px
}

#page_tabs div:hover {
	color: #007bff
}

#page_tabs div:focus {
	color: #007bff
}

#page_tabs div.active {
	color: #fff;
	text-shadow: 1px -1px 0 #054882;
	background: #007bff url(../images/layout/tab-active.png) no-repeat center bottom
}

#page_content {
	background: #f8f9fa;
	padding: 20px 10px;
/*	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;*/
	border: 1px solid #aaa;
	border-top: 3px solid #aaa
}

/* Topcontent (dashboard) */

#topcontent_wrap {
	display: flex;
	flex-wrap: wrap;
}

.dashboard-box {
	min-height: 6rem;
	width: 30%;
	margin-left: 2%;
	margin-bottom: 10px;
	float: right;
	background: #d5d5d5 url(../images/layout/sprite_repeatx.png) 214px -339px repeat-x;
/*	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;*/
	border: 1px solid #aaa
}

.dashboard-box.last {
	margin-left: 0
}

.dashboard-box nav {
	padding: 10px
}

.dashboard-box img {
	max-height: 3em;
	padding: 20px;
	-webkit-box-shadow: inset 0 1px 15px 1px #ccc;
	box-shadow: inset 0 1px 15px 1px #ccc;
	margin-left: 10px;
	float: right;
	border: 1px solid #aaa;
	background: #f8f9fa
}

.dashboard-box:hover img {
	box-shadow: inset 0 1px 15px 1px #ffd8b0;
	-webkit-box-shadow: inset 0 1px 15px 1px #ffd8b0;
	-webkit-transition: all 600ms ease-in-out;
	-moz-transition: all 600ms ease-in-out;
	-o-transition: all 600ms ease-in-out;
	transition: all 600ms ease-in-out
}

.dashboard-box h3 {
	text-shadow: 0 1px 0 #fff;
	margin: 0 0 5px 0
}

.dashboard-box h3 a:focus {
	border: 1px solid #007bff;
}

.dashboard-box span.description {
	color: #6c757d;
	font-style: italic
}

.dashboard-box h4 {
	margin: 5px 0;
	font-size: .8125rem;
	color: #343a40
}

#oe_mainarea .dashboard-box ul.subitems {
	margin: 0;
	padding: 0
}

.dashboard-box ul.subitems li {
	list-style: none;
	margin: 0 4px;
	line-height: 1.4;
	float: right
}

.dashboard-box ul.subitems li a {
	font-size: .8125rem;
	text-decoration: underline
}

h3.dashboard-icon::before {}


/* Reorder pages */

.reorder-pages {
	margin: 20px 0
}

ul.sortableList,
.reorder-pages ul {
	list-style-type: none;
	width: 28rem;
	margin: 0;
	padding: 0
}

ul.sortableList li {
	list-style-type: none;
	display: block;
	margin: 10px 0
}

ul.sortableList div.label {
	border: solid 1px #aaa;
	word-wrap: break-word;
/*	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;*/
	cursor: move;
	padding: 11px 10px 10px 10px;
	background: #eee;
	text-shadow: 0 1px 0 #fff;
	font-weight: bold;
	color: #6c757d
}
ul.sortableList div.label::before {
/*	background: #eee url(../images/icons/extra/reorder.gif) no-repeat 10px 50%; */
	font-family: 'Font Awesome 5 Free';
	content: '\f338';
}

ul.sortableList li div.label em {
	display: block;
	text-indent: 10px;
	font-weight: normal;
	color: #007bff;
	font-size: .75rem
}

ul.sortable .placeholder {
	border: 2px dashed #aaa;
	background: #f2f2f2
}

/* Changelog, system maintenance pages */

.version {
	background: #f1f1f1;
	border: 1px solid #aaa;
	margin: 15px 0;
	padding: 20px;
	font-family: 'Source Code Pro', Courier, monospace;
	line-height: 1.5
}

.version h3 {
	text-transform: uppercase;
	color: #007bff;
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', Arial, sans-serif;
}

/* Login screen almost entirely handled by adminlte styles */

#info-wrapper {
	position: absolute;
	top: 1.25em;
	right: 1.25em;
	width: 18.5em
}
#info-wrapper:not(.open) {
	display: none;
}
#info-wrapper p {
	margin: 0 0 .5rem 0;
	font-size: 1em;
}
#info-wrapper p:last-child {
	margin: 0;
}
.login-box #sitelogo {
	display: block;
	margin: 4px auto;
	max-width: 12em;
        max-height: 3.5em
}

/*#info-wrapper.open {
TODO <button class="btn" type="submit"></button> visibility hidden toggle
}
*/

/* 2.0 styles, moved from inline .tpl, please do not add inline styles, thank you
 * and this needs more work
 */

.row {
	width: 100%;
}
.half {
	width: 50%;
	float: right;
}

.options-form {
	text-align: left;
}

#oe_mainarea .options-menu {
	margin: 0;
	padding: 0;
	height: 35px;
	z-index: 999;
	list-style-type: none;
}

#oe_mainarea .options-menu > li {
	line-height: 2.1;
	float: right;
	display: block;
	padding: 0 1em;
	position: relative;
}

#oe_mainarea .options-menu li ul {
	position: absolute;
	right: -999em;
	top: 0;
	margin: 0;
	padding: 15px;
}

#oe_mainarea .options-menu li.parent:hover {
	background: #fafafa;
	cursor: pointer;
}

#oe_mainarea .options-menu li:hover ul {
	right: 0;
	top: 2em;
	width: 15em;
	background: #ededed;
	border: 1px solid #aaa;
}

#oe_mainarea .options-menu li li {
	display: block;
	cursor: pointer;
}

/* Help */

.cms_helptext ul {
	padding: 0 10px;
	list-style: disc;
}

.cms_helptext ul li {
	margin-bottom: 8px;
}

/* Design manager module */

#templatetable .col_dflt, #templatetable .col_edit, #templatetable.col_copy, #templatetable.col_delete {
	padding-right: 2px;
	padding-left: 2px;
}

/* Screen up to 62rem */

@media screen and (max-width: 61.98rem) {
	/* this block merges former 64- and 62-rem classes, without (yet?) reconciliation */
	/* change tabs to full width */
	.sidebar-on #page_tabs div {
		text-align: right;
/*		float: none;*/
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		margin-left: 0
	}
	.sidebar-on #page_tabs div.active {
		color: #fff;
		background: #007bff
	}
/*
	textarea {
		width: 43em;
	}
*/
	header .header-top {
		overflow: hidden
	}
	header .admin-title {
		font-size: .75rem
	}
	#oe_sidebar {
		bottom: 30px
	}
	#oe_sidebar aside {
		padding: 0
	}
	#oe_mainarea header.pageheader span.helptext em {
		display: none
	}
	.dashboard-box {
		float: none;
		width: auto;
		margin: 10px 0
	}
	footer#oe_footer {
		clear: both;
		overflow: hidden;
		line-height: 1.25;
/*		position: static*/
	}
	#oe_footer .footer-left {
		margin-right: 0
	}
	.move {
		width: auto;
		padding: 0;
		max-width: 16px
	}
	.move,
/*	table.pagetable th.pageicon,
	table.pagetable th,
	table.pagetable td,*/
	th.pagew10,
	th.pagew25,
	th.pagew50,
	th.pagew60,
	th.pagew70,
	td.pagew30 {
		width: auto;
		padding: 0;
		max-width: 30px;
		word-wrap: break-word;
		text-overflow: elipsis
	}
	.checkbox {
		padding-right: 0
	}

	/* override our predefined min-with for smaller screens and full height stuff */
	body {
		margin: 0;
		min-width: 100%;
		padding: 0;
	}
	a {
		outline: 0
	}
	img {
		float: none;
	}
	#oe_container,
	.header,
	#oe_mainarea,
	#oe_sidebar,
	#oe_admin-content {
		margin: 0;
		float: none;
		display: block;
		height: 100%;
	}
	#oe_container {
		width: 100%;
		padding: 0;
		position: static;
		height: auto
	}
	.spacer,
	#oe_sidebar div.notification .box-shadow,
	#oe_sidebar nav.navigation .box-shadow,
	header .breadcrumbs,
	#oe_footer .footer-right,
	#oe_sidebar .toggle-button,
	header .admin-title,
	#oe_admin-content .shadow,
	.drop {
		display: none
	}
	#oe_admin-content {
		height: auto
	}
	header .welcome {
		width: auto
	}
	#oe_sidebar {
		border: none;
		width: 100%;
		background: #ccc;
		box-sizing: border-box;
	}
	#oe_sidebar aside {
		padding: 0
	}
	.sidebar-on #oe_sidebar nav.navigation {
		width: auto
	}
	.sidebar-off #oe_sidebar nav.navigation {
		width: 40px;
		overflow: hidden;
		position: static;
		top: initial;
		margin-top: auto;
	}

	header.header {
		overflow: hidden
	}
	#oe_mainarea {
		width: auto;
		/* prevent overflow out of small device widths due to 40px left margin.*/
		display: block
	}
	#oe_mainarea header.pageheader {
		max-height: 50px;
		margin-bottom: 15px;
		border-bottom: 0;
	}
	#oe_mainarea header.pageheader h1,
	#oe_mainarea header.pageheader span.helptext {
		line-height: 50px;
	}
	#oe_mainarea header.pageheader span.helptext {
		margin-left: 0
	}
	#oe_mainarea .content-inner {
		padding: 0 5px 20px;
	}

	header .cms-logo {
		background: none;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	header .shortcuts li {
		padding: 0 5px;
	}
	header .shortcuts li:last-child,
	header .shortcuts li.last {
		padding: 0 5px 0 0
	}
	.dashboard-box {
		float: none;
		width: 100%;
		max-width: 95%;
		margin: 10px 10px 10px 0;
	}
	.dashboard-box img {
		display: inline
	}
	/* responsive table -- CSS solution: scroll left/right */
	table.pagetable {
		border-collapse: collapse;
		width: 100%;
		margin: 5px 0 1rem;
		overflow-x: auto;
		display: block;
		padding-bottom: 2rem;
	}
	/* position:fixed doesn't work well with mobile devices */
	footer#oe_footer {
		clear: both;
		overflow: hidden;
		line-height: 20px;
/*		position: static*/
	}
	#oe_footer .footer-left {
		float: none;
		margin: 0;
		padding: 0;
		width: 100%;
		text-align: center;
		display: block
	}
	#oe_footer small {
		padding: 10px 0 0 0;
		margin: 0;
		display: block;
		font-size: .7em
	}
	fieldset,
	form,
	input,
	textarea,
	select,
	menu {
		max-width: 90%
	}
	textarea {
		min-width: auto;
		max-width: 40em
	}
	iframe {
		max-width: 90%
	}
	input,
	textarea,
	select,
	menu {
		height: auto
	}
	select {
		-webkit-appearance: listbox;
		-moz-appearance: listbox;
	}
	.login-box #wrapper {
		padding-top: 2%
	}
}

/* Everything up to 40rem */

@media (max-width: 39.98rem) {
	#headerlogo {
		min-width: 2.3em;
		background-image: url(../../assets/images/cmsms-logo.svg);
	}
}

/* Screen up to 40rem */

@media screen and (max-width: 39.98rem) {
	header .shortcuts ul {
		margin-left: 8px;
	}
	header .shortcuts li {
		padding: 0 8px;
	}
	header .shortcuts li i {
		font-size: 1.25rem;
		padding-top: 0.235em;
	}
	nav ul#oe_pagemenu li a:focus {
		margin-left: 0;
	}
	#page_tabs {
		margin-top: 0;
	}
	#page_tabs div {
		width: 100%;
		float: none;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	#oe_mainarea .pageoptions.options-menu.half {
		height: auto;
		width: 100% !important;
	}
	#oe_mainarea .pageoptions.options-menu.half a {
		width: 100%;
		display: block;
	}

	/* hide some table columns for small devices designs_c */
	#template_area .pagetable,
	#stylesheet_area .pagetable,
	#designs_c .pagetable,
	#types_c .pagetable {
	display: table;
	}

	#contenttable tr th:nth-child(2), #contenttable tr td:nth-child(2),
	#contenttable tr th:nth-child(7), #contenttable tr td:nth-child(7),
	#contenttable tr th:nth-child(8), #contenttable tr td:nth-child(8),
	#contenttable tr th:nth-child(9), #contenttable tr td:nth-child(9),
	#contenttable tr th:nth-child(12), #contenttable tr td:nth-child(12),
	#contenttable tr th:nth-child(13), #contenttable tr td:nth-child(13),
	#template_area .pagetable tr th, #template_area .pagetable tr td,
	#stylesheet_area .pagetable tr th, #stylesheet_area .pagetable tr td,
	#designs_c .pagetable tr th, #designs_c .pagetable tr td,
	#types_c .pagetable tr th, #types_c .pagetable tr td {
		display:none;
	}

	#template_area .pagetable tr th:nth-child(3), #template_area .pagetable tr td:nth-child(3),
	#stylesheet_area .pagetable tr th:nth-child(3), #stylesheet_area .pagetable tr td:nth-child(3),
	#designs_c .pagetable tr th:nth-child(2), #designs_c .pagetable tr td:nth-child(2),
	#types_c .pagetable tr th:nth-child(2), #types_c .pagetable tr td:nth-child(2){
		display:table-cell;
		width: 100%;
	}
	nav ul#oe_pagemenu {
	border-bottom: 0;
	}
	nav ul#oe_pagemenu li {
		background: #d5d5d5;
		line-height: 45px;
		padding: 2px;
		text-align: center;
		border-bottom: 1px solid #aaa;
	}
	nav ul#oe_pagemenu li a {
		margin-right: 0;
		height: 45px;
		text-align: center;
	}

	nav ul#oe_pagemenu li a.parent::before {
		margin-left: 0;
		font-size: 1.35rem;
	}
}

/* Screen up to 30rem */

@media screen and (max-width: 29.98rem) {
	aside.message,
	.pagemcontainer,
	.pageerrorcontainer,
	.pageerrorinstalldir {
		right: 5%;
		left: 5%;
		width: auto
	}
	#oe_mainarea header.pageheader .helptext {
		display: none;
	}
	textarea,
	select {
		min-width: auto;
		max-width: 23em
	}
}

/* TinyMCE override for filepicker iframe */

.mce-container-body iframe {
	max-width: none !important;
}

.cmsfp_dlg {
	padding: 0 !important;
}

.cmsfp_dlg iframe {
	width: 100% !important;
	height: 100% !important;
	max-width: none !important;
	border: none;
}

/* fix jQueryUI conflict */
.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: 'Source Sans Pro', Arial, sans-serif
}

.ui-widget .ui-widget {
	font-size: .85em
}

/* other changes */
li.alert-box {
	list-style-type: none;
	list-style-position: inside
}

.alert-dialog ul {
	padding-right: 0
}

/* end of file */
