/* overrides for some adminlte.css styles */

pre,
code,
kbd,
samp,
.text-monospace {
	font-family: 'Source Code Pro', Courier, monospace;
}

body:not(.sidebar-mini-md) .main-header {
	margin: 0;
}
.main-header {
	position: fixed;
	height: 3em;
	top: 0;
	left: 0;
	right: 0;
	border-bottom: 0;
	z-index: 2000;
}
.sidebar-mini.sidebar-collapse .main-header {
	margin-left: 0 !important;
}

.nav-sidebar > .nav-item {
	margin-right: 0.3rem;
}

/* some top-screen sizes from 3.5rem to 3rem NOT QUITE match .main-header height */
.layout-navbar-fixed.layout-fixed .wrapper .sidebar {
	margin-top: calc(3rem + 1px);
}
.layout-fixed .wrapper .sidebar {
	height: calc(100vh - 3rem - 1px);
}
.sidebar {
	height: calc(100% - 3rem);
	overflow-y: auto;
	padding: 0 .25rem;
}

/* overridden 250px sizes */
.main-sidebar,
.main-sidebar::before {
	width: 14rem;
}

@media (min-width: 992px) {
	body:not(.sidebar-mini-md) .content-wrapper,
	body:not(.sidebar-mini-md) .main-footer {
		margin-left: 14rem;
	}
}

/* overridden 4.6rem sizes */
@media (min-width: 992px) {
	.sidebar-mini.sidebar-collapse .content-wrapper,
	.sidebar-mini.sidebar-collapse .main-footer {
		margin-left: 3rem !important;/*WAS 4.6rem;*/
	}
	.sidebar-mini.sidebar-collapse .main-sidebar,
	.sidebar-mini.sidebar-collapse .main-sidebar::before {
		width: 3rem;/*WAS 4.6rem;*/
	}
	.sidebar-mini.sidebar-collapse .main-sidebar .nav-item .nav-item {
		display: none;
	}
	.sidebar-mini.sidebar-collapse .main-sidebar:hover,
	.sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused {
		width: 14rem;/*WAS 250px;*/
	}
	.sidebar-mini.sidebar-collapse .main-sidebar:hover .nav-item .nav-item,
	.sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused .nav-item .nav-item {
		display: inherit;
	}
}

.navbar {
	padding: 0 .25rem;
}

.navbar-nav li {
	margin: 0 2px; /* not rem-equivalent */
}

.navbar-expand .navbar-nav .nav-link {
	padding-right: .75rem;
	padding-left: .75rem;
}

.nav-sidebar .nav-link > .right,
.nav-sidebar .nav-link > p > .right {
	right: .5rem;
}
/*
.nav-sidebar .nav-link > .right:nth-child(2),
.nav-sidebar .nav-link > p > .right:nth-child(2) {
	right: .5em;
}
*/
.nav-sidebar .nav-item > .nav-link {
	margin-bottom: 0;
	margin-left: -.2em;
	padding-left: .5rem;
	padding-right: .5rem;
}
.nav-sidebar .menu-open > .nav-link i.right {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.nav-sidebar .nav-item .nav-icon {
	margin-left: 0;
	margin-right: 0;
}

.navbar-nav .nav-link {
/*	margin-top: .4em;*/
	padding: .5rem;
	font-size: 1.5em;
}
.navbar-nav .nav-link i {
	vertical-align: .25em;
}

.navbar-nav .nav-link:focus {
	outline: none
}
/*
@todo Rolf: This does not work, but it should. Don't know why yet...
Much better for accessibility.
*/
.navbar-nav .nav-link:focus:not(:focus-visible) {
	outline: none
}

.form-control {
	border-radius: 0;
}
input.form-control {
	background: #f1f1f1;
}
.input-icon {
	position: relative;
}
.input-icon > i {
	position: absolute;
	top: 0.8rem;
	right: 1rem;
}
.navbar-badge {
	font-size: 0.8rem;
	font-weight: 400;
	right: .2rem;
	top: .5rem;
}

.login-box,
.register-box {
	width: 20rem;
}
.login-box-msg,
.register-box-msg {
	font-size: 1.2em;
}
.login-card-body .input-group .input-group-text,
.register-card-body .input-group .input-group-text {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.alert {
	border: 0;
}
.brand-link {
	padding: .5rem;
}
.card {
	border-width: 1px;
}

.content-header h1 {
	font-size: 1.2rem;
}

.btn {
	padding: .2rem .5rem;
	border-radius: .2rem;
}
/* extract from adminlte components styling */
.btn-default {
	background-color: #ededed;
	border-color: #aaa;
	color: #212529;
}

.btn-default:active,
.btn-default:hover,
.btn-default.hover {
	background-color: #fff;
	color: #212529;
}
