<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <system.webServer>
  <directoryBrowse enabled="false" />
  <rewrite>
   <rules>
    <rule name="Only moduleinterface" stopProcessing="true">
     <match url="(web\.config|^((?!moduleinterface).)*\.php)$" ignoreCase="true" />
     <action type="CustomResponse" statusCode="403" subStatusCode="0"
       statusReason="Forbidden"
       statusDescription="Access is forbidden." />
    </rule>
    <rule name="Protect lib phpish files" stopProcessing="true">
     <match url="(web\.config|\.php[45s])$" ignoreCase="true" />
     <action type="CustomResponse" statusCode="403" subStatusCode="0"
       statusReason="Forbidden"
       statusDescription="Access is forbidden." />
    </rule>
    <rule name="Protect lib phtml files" stopProcessing="true">
     <match url="(web\.config|\.phtml)$" ignoreCase="true" />
     <action type="CustomResponse" statusCode="403" subStatusCode="0"
       statusReason="Forbidden"
       statusDescription="Access is forbidden." />
    </rule>
    <rule name="Protect lib shell scripts" stopProcessing="true">
     <match url="\.(sh|bat)$" ignoreCase="true" />
     <action type="CustomResponse" statusCode="403" subStatusCode="0"
       statusReason="Forbidden"
       statusDescription="Access is forbidden." />
    </rule>
   </rules>
  </rewrite>
 </system.webServer>
</configuration>
