/*
 * jQuery Basic Table
 * Author: Jerry Low
 */

table.bt {
  display: table;
}

table.bt tr {
	margin-bottom: 1em;
}

table.bt thead,
table.bt tbody th {
  display: none;
}

table.bt tfoot th,
table.bt tfoot td,
table.bt tbody td {
  border: none;
  display: table-row;
  vertical-align: top;
  /* IE 9 */
  float: left\9;
  width: 100%\9;
}

table.bt tfoot th::before,
table.bt tfoot td::before,
table.bt tbody td::before {
  display: table-cell;
  padding: 0.2em;
  content: attr(data-th);
  font-weight: bold;
}

table.bt tfoot th.bt-hide,
table.bt tfoot td.bt-hide,
table.bt tbody td.bt-hide {
  display: none;
}

table.bt tfoot th .bt-content,
table.bt tfoot td .bt-content,
table.bt tbody td .bt-content {
  display: table-cell;
  padding: 0.2em 0.5em;
  vertical-align: top;
}

.bt-wrapper.active {
  max-height: 20em; /*310px;*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

table.bt.bt--no-header tfoot td::before,
table.bt.bt--no-header tbody td::before {
  display: none;
}
