<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <system.webServer>
  <directoryBrowse enabled="false" />
  <rewrite>
   <rules>
    <rule name="Protect plugin files" stopProcessing="true">
     <match url="(web\.config|^((?!moduleinterface).)*\.php)$" />
     <action type="CustomResponse" statusCode="403" subStatusCode="0"
       statusReason="Forbidden"
       statusDescription="Access is forbidden." />
    </rule>
   </rules>
  </rewrite>
 </system.webServer>
</configuration>
